@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');

#footer-html {
    padding-top: 0 !important;
    padding-buttom: 0 !important;

}

@page {
    size: A4;
    margin: 0;
}

.page-break {
    page-break-before: always;
}

.header-content {
    position: relative;
}

.tableb {
    border: 1px solid #7b92c4 !important;
    /*margin-bottom: 10px !important;*/
}

.print-format th {
    background-color: #7b92c4 !important;
    color: #ffffff;
    text-align: center !important;
    padding: 3px !important;
    font-size: 11px;

}

.print-format td {
    padding: 3px !important;
    border: 1px solid #bebebe;
    font-size: 11px;
}

.subtitle {
    background-color: #eee;
    color: #000000;
    border: 1px solid #bebebe;
    font-size: 12px !important;
}

.titles {
    text-align: center;
    background-color: grey !important;
    color: #ffffff !important;
}