<!-- HEADER -->
{% if print_settings.repeat_header_footer %}
<div id="header-html" class="visible-pdf">
    {% if not no_letterhead and header %}
    <div class="letter-head">
        {{ header }}
    </div>
    {% endif %}
    <p class="text-center small visible-pdf">
    <div class="row">
        <div class="col-xs-2">
            {% if doc.customer %}
            {% set customer_name = doc.customer %}
            <img src="http://192.168.1.31/{{ frappe.db.get_value(" Customer", filters={"name": customer_name},
                fieldname="image" ) }}" />
            {% endif %}
        </div>
        <div class="col-xs-8">

            <div class="row">
                <div class="col-xs-4">رقم التقرير: </div>
                <div class="col-xs-4">{{ doc.id }}</div>
            </div>
            <div class="row">
                <div class="col-xs-12">تاريخ التقييم: {{ frappe.format(doc.report_date, {'fieldtype': 'Date'}) }}</div>
            </div>

            <div class="row">
                <div class="col-xs-12" style="font-size:14px; font-weight:bold">
                    تقرير تقييم عقاري

                </div>

            </div>

        </div>

        <div class="col-xs-2">
            <img style="float:left" src="/files/small.JPG">
            <!--<img style="width: 50px;float:left" src="/files/ceo.png" />-->
        </div>
    </div>
    <table style="width: 100%; margin-top:2px">
        <tr style="background-color: #000; font-weight: bold ">
            <td colspan="1" style="color:#fff;">هوية المقيم المعتمد</td>

            <td colspan="1" style="color:#fff;">خالد عبد الكريم الجاسر</td>


            <td colspan="1" style="color:#fff;">رقم الترخيص</td>
            <td colspan="1" style="color:#fff;">1210000040</td>


            <td colspan="1" style="color:#fff;">تاريخ الترخيص</td>
            <td colspan="1" style="color:#fff;">01/03/1437 هـ</td>

        </tr>
    </table>

    </p>
</div>
{% endif %}
<table style="width:100%; border-collapse:collapse;">
    <thead>
        <tr>
            <th colspan="4" style="" class="titles">بيانات التقرير</th>
        </tr>
    </thead>
    <tbody style="font-size:16px">
        <tr>
            <td style=" width: 25%" class="subtitle">اسم المالك</td>
            <td style=" width: 25%">{{ doc.owner2 }}</td>
            <td style=" width: 25%" class="subtitle">اسم العميل</td>
            <td style=" width: 25%">{{ doc.willtoevalution }}</td>
        </tr>
        <tr>
            <td style="" class="subtitle">تاريخ الطلب</td>
            <td style=""> {{ frappe.format(doc.dateofcommissioning, {'fieldtype': 'Date'}) }}</td>
            <td style="" class="subtitle">تاريخ المعاينة</td>
            <td style="">{{ frappe.format(doc.samplingdatetime, {'fieldtype': 'Date'}) }}</td>
        </tr>
        <tr>
            <td style="" class="subtitle">المدينة</td>
            <td style="">{{ doc.city }}</td>
            <td style="" class="subtitle">الحي</td>
            <td style="">{{ doc.gada }}</td>
        </tr>
        <tr>
            <td style="" class="subtitle">نوع العقار</td>
            <td style="">{{ doc.aqartype }}</td>
            <td style="" class="subtitle">مساحة الأرض</td>
            <td style="">{{ frappe.db.get_value("Cost", doc.name, "eartharea") }}</td>
        </tr>
        <tr>
            <td style="" class="subtitle">مساحة المبنى</td>
            <td style="">{{ frappe.db.get_value("Cost", doc.name, "totalarea1") }}</td>
            <td style="" class="subtitle">قيمة التقييم</td>
            <td style="">{{ doc.last_value }}</td>
        </tr>
    </tbody>
</table>




<table style="width:100%; border-collapse:collapse;">
    <thead>
        <tr>
            <th colspan="6">بيانات العميل والمالك</th>
        </tr>
    </thead>
    <tbody>
        <tr class="borders">
            <td colspan="1" style="width:16.6%" class="subtitle">رقم التقرير</td>
            <td colspan="1" style="width:16.6%">{{ doc.id }}</td>
            <td colspan="1" style="width:16.6%" class="subtitle">رقم التكليف</td>
            <td colspan="1" style="width:16.6%">{{ doc.commissioningnumber }}</td>
            <td colspan="1" style="width:16.6%" class="subtitle">اسم المالك</td>
            <td colspan="1" style="width:16.6%">{{ doc.owner2 }}</td>
        </tr>
        <tr class="borders">
            <td colspan="1" style="width:16.6%" class="subtitle">اسم العميل</td>
            <td colspan="3" style="width:50%">{{ doc.willtoevalution }}</td>
            <td colspan="1" style="width:16.6%" class="subtitle">تاريخ التقييم</td>
            <td colspan="1" style="width:16.6%">{{ frappe.format(doc.sendeddatetime, {'fieldtype': 'Date'}) }}</td>
        </tr>
        <tr class="borders">
            <td colspan="1" style="width:16.6%" class="subtitle">ملاحظات مهمة</td>
            <td colspan="5" style="width:83.3%">{{ doc.noteforentring }}</td>
        </tr>
    </tbody>
</table>


<table style="width:100%; border-collapse:collapse;">
    <tr class="titles borders">
        <td colspan="10">بيانات الملكية ونوع العقار</td>
    </tr>
    <tr class="borders">
        <td colspan="1" class="subtitle">نوع العقار</td>
        <td colspan="3">
            {{ doc.aqartype }}

        </td>

        <td colspan="1" class="subtitle">رقم الصك</td>
        <td colspan="1">{{ doc.instrementnumber }}</td>
        <td colspan="1" class="subtitle">تاريخه</td>
        <td colspan="1">{{ doc.instrementdate }}</td>
        <td colspan="1" class="subtitle">كتابة عدل</td>
        <td colspan="1">{{ doc.instrementlocation }}</td>
    </tr>
    <tr class="borders">
        <td colspan="1" class="subtitle">تصريح البناء</td>
        <td colspan="1">{{ doc.buildingpermitnumber }}</td>
        <td colspan="1" class="subtitle">تاريخه</td>
        <td colspan="1">{{ doc.buildingpermitdate }}</td>
        <td colspan="1" class="subtitle">حالة المبنى</td>
        <td colspan="2">

            <input type="checkbox" {% if doc.buildingtype in ["جديد"] %} checked {% endif %} disabled> جديد
            <input type="checkbox" {% if doc.buildingtype in ["مستخدم"] %} checked {% endif %} disabled> مستعمل
        </td>

        <td colspan="1" class="subtitle">حالة المبنى</td>
        <td colspan="2">
            <input type="checkbox" {% if doc.buildingavilablity in ["خالي"] %} checked {% endif %} disabled> شاغر
            <input type="checkbox" {% if doc.buildingavilablity in ["مأهول"] %} checked {% endif %} disabled> غير شاغر
        </td>
    </tr>
    <tr class="borders">
        <td colspan="1" class="subtitle">عمر العقار</td>
        <td colspan="1">{{ doc.aqarage }}</td>
        <td colspan="1" class="subtitle">قرار الزرعة</td>
        <td colspan="1">{{ doc.zradecision }}</td>
        <td colspan="1" class="subtitle">تاريخه</td>
        <td colspan="5">{{ doc.buildingpermitdate }}</td>
    </tr>
</table>

<table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
    <thead>
        <tr>
            <th colspan="10" style="text-align: center;">حدود وأطوال العقار</th>
        </tr>
    </thead>

    <tbody>
        <tr class="borders">
            <td class="subtitle" style="font-weight: bold;">الموقع</td>
            <td class="subtitle" style="font-weight: bold;" colspan="2">حدود العقار</td>
            <td class="subtitle" style="font-weight: bold;" colspan="4">الموقع العام</td>
            <td class="subtitle" style="font-weight: bold;">نوع العقار</td>
            <td class="subtitle" style="font-weight: bold;">الخدمات</td>
            <td class="subtitle" style="font-weight: bold;">الشوارع</td>
        </tr>
        <tr class="borders">
            <td class="subtitle">المدينة</td>
            <td>{{ doc.city or '-' }}</td>
            <td class="subtitle">شمالاً</td>
            <td>{{ doc.northern_border or '-' }}</td>
            <td>بطول - {{ doc.northern_length or '-' }}</td>
            <td colspan="2">
                <input type="checkbox" {% if doc.genrallocation=="داخل النطاق" %} checked {% endif %} disabled> داخل
                النطاق
            </td>
            <td>
                <input type="checkbox" {% if doc.aqartype=="سكني" %} checked {% endif %} disabled> سكني
            </td>
            <td>
                <input type="checkbox" {% if doc.ishavewater_==1 %} checked {% endif %} disabled> مياه
            </td>
            <td>
                <input type="checkbox" {% if doc.roadsasphalt=="مسفلتة" %} checked {% endif %} disabled> مسفلتة
            </td>
        </tr>
        <tr class="borders">
            <td class="subtitle">الحي</td>
            <td>{{ doc.gada or '-' }}</td>
            <td class="subtitle">جنوباً</td>
            <td>{{ doc.southern_border or '-' }}</td>
            <td>بطول - {{ doc.southern_length or '-' }}</td>
            <td colspan="2">
                <input type="checkbox" {% if doc.genrallocation=="خارج النطاق" %} checked {% endif %} disabled> خارج
                النطاق
            </td>
            <td>
                <input type="checkbox" {% if doc.aqartype=="تجاري" %} checked {% endif %} disabled> تجاري
            </td>
            <td>
                <input type="checkbox" {% if doc.ishavephone==1 %} checked {% endif %} disabled> هاتف
            </td>
            <td>
                <input type="checkbox" {% if doc.roadsasphalt=="غير مسفلتة" %} checked {% endif %} disabled> غير مسفلتة
            </td>
        </tr>
        <tr class="borders">
            <td class="subtitle">رقم المخطط</td>
            <td>{{ doc.plannednumber or '-' }}</td>
            <td class="subtitle">شرقاً</td>
            <td>{{ doc.eastern_border or '-' }}</td>
            <td>بطول - {{ doc.eastern_length or '-' }}</td>
            <td colspan="2">
                <input type="checkbox" {% if doc.genrallocation=="صناعية / ورش" %} checked {% endif %} disabled> صناعية
                / ورش
            </td>
            <td>
                <input type="checkbox" {% if doc.aqartype=="سكني تجاري" %} checked {% endif %} disabled> سكني تجاري
            </td>
            <td>
                <input type="checkbox" {% if doc.ishaveelectric==1 %} checked {% endif %} disabled> كهرباء
            </td>
            <td>
                <input type="checkbox" {% if doc.roadslighting=="مضاءة" %} checked {% endif %} disabled> مضاءة
            </td>
        </tr>
        <tr class="borders">
            <td class="subtitle">اسم المخطط</td>
            <td>{{ doc.plannednumber or '-' }}</td>
            <td class="subtitle">غرباً</td>
            <td>{{ doc.western_border or '-' }}</td>
            <td>بطول - {{ doc.western_length or '-' }}</td>
            <td colspan="2">
                <input type="checkbox" {% if doc.genrallocation=="منطقة عشوائية" %} checked {% endif %} disabled> منطقة
                عشوائية
            </td>
            <td>
                <input type="checkbox" {% if doc.aqartype=="أخرى" %} checked {% endif %} disabled> أخرى
            </td>
            <td>
                <input type="checkbox" {% if doc.ishavesanitation==1 %} checked {% endif %} disabled> صرف
            </td>
            <td>
                <input type="checkbox" {% if doc.roadslighting=="غير مضاءة" %} checked {% endif %} disabled> غير مضاءة
            </td>
        </tr>
        <tr class="borders">
            <td class="subtitle">القطعة</td>
            <td>{{ doc.piecenumber or '-' }}</td>
            <td class="subtitle">نوع الرخصة</td>
            <td>{{ doc.licebcetype or '-' }}</td>
            <td class="subtitle">رقم الوحدة</td>
            <td>{{ doc.unitnumber }}</td>
            <td class="subtitle">عدد الأدوار</td>
            <td>{{ doc.floors }}</td>
            <td class="subtitle">اسم أقرب شارع تجاري</td>
            <td>{{ doc.nearestroad }}</td>
        </tr>
    </tbody>
</table>



<table style="width:100%; border-collapse:collapse;">
    <tr class="titles borders">
        <td colspan="6">وصف تشطيبات العقار والأعمال الإنشائية</td>
    </tr>
    <tr class="borders titles">
        <td class="titles">نوع الواجهات والأبواب</td>
        <td class="titles">نوع الأرضيات</td>
        <td class="titles">هل يوجد بالمبنى</td>
        <td class="titles">نوع التكييف</td>
        <td class="titles">الهيكل الإنشائي</td>
        <td class="titles">نوع الأسقف</td>
    </tr>
    <tr class="borders">
        <td class="bordertext checker">الشمالية: {{ doc.finishingnorth }}</td>
        <td class="bordertext checker">الأحواش: {{ doc.finishingahwash }}</td>
        <td class="bordertext checker">
            <input type="checkbox" {% if doc.ishavewall==1 %} checked {% endif %} disabled> حوائط
            <input type="checkbox" {% if doc.ishavestairs==1 %} checked {% endif %} disabled> سلالم
        </td>
        <td class="bordertext checker">
            <input type="checkbox" {% if doc.ishavecentral==1 %} checked {% endif %} disabled> مركزي
        </td>
        <td class="bordertext checker">
            <input type="checkbox" {% if doc.structuralstructure=="خرساني" %} checked {% endif %} disabled> خرساني
        </td>
        <td class="bordertext checker">
            <input type="checkbox" {% if doc.typeofbishop=="خرساني" %} checked {% endif %} disabled> خرسانية
        </td>
    </tr>
    <tr class="borders">
        <td class="bordertext checker">الجنوبية: {{ doc.finishingsouth }}</td>
        <td class="bordertext checker">الاستقبال: {{ doc.finishingreception }}</td>
        <td class="bordertext checker">
            <input type="checkbox" {% if doc.ishavedoubleglass==1 %} checked {% endif %} disabled> زجاج مزدوج
            <input type="checkbox" {% if doc.ishaveelectricgarage==1 %} checked {% endif %} disabled> كراج كهربائي
        </td>
        <td class="bordertext checker">
            <input type="checkbox" {% if doc.ishaveseparateairconditioning==1 %} checked {% endif %} disabled> منفصل
        </td>
        <td class="bordertext checker">
            <input type="checkbox" {% if doc.structuralstructure=="حوائط حاملة" %} checked {% endif %} disabled> حوائط
            حاملة
        </td>
        <td class="bordertext checker">
            <input type="checkbox" {% if doc.typeofbishop=="كمرات حديديه" %} checked {% endif %} disabled> كمرات حديدية
        </td>
    </tr>
    <tr class="borders">
        <td class="bordertext checker">الشرقية: {{ doc.finishingeastern }}</td>
        <td class="bordertext checker">المدخل: {{ doc.finishingentrance }}</td>
        <td class="bordertext checker">
            <input type="checkbox" {% if doc.ishavegypsumwithroof==1 %} checked {% endif %} disabled> جبس بالسقف
            <input type="checkbox" {% if doc.ishavenormalgarage==1 %} checked {% endif %} disabled> كراج عادي
        </td>
        <td class="bordertext checker">
            <input type="checkbox" {% if doc.ishavewindow==1 %} checked {% endif %} disabled> شباك
        </td>
        <td class="bordertext checker">
            <input type="checkbox" {% if doc.structuralstructure=="مباني معدنية" %} checked {% endif %} disabled> مباني
            معدنية
        </td>
        <td class="bordertext checker">
            <input type="checkbox" {% if doc.typeofbishop=="كمرات خشبية" %} checked {% endif %} disabled> كمرات خشبية
        </td>
    </tr>
    <tr class="borders">
        <td class="bordertext checker">الغربية: {{ doc.finishingwest }}</td>
        <td class="bordertext checker">الغرف: {{ doc.finishingrooms }}</td>
        <td class="bordertext checker">
            <input type="checkbox" {% if doc.ishavehiddenlighting==1 %} checked {% endif %} disabled> إضاءة مخفية
            <input type="checkbox" {% if doc.ishavegates==1 %} checked {% endif %} disabled> بوابات
        </td>
        <td class="bordertext checker">
            <input type="checkbox" {% if doc.isboradspilit==1 %} checked {% endif %} disabled> دولاب/سبلت
        </td>
        <td class="bordertext checker">
            <input type="checkbox" {% if doc.structuralstructure=="مباني خشبية" %} checked {% endif %} disabled> مباني
            خشبية
        </td>
        <td class="bordertext checker">
            <input type="checkbox" {% if doc.typeofbishop=="اخرى" %} checked {% endif %} disabled> أخرى
        </td>
    </tr>
    <tr class="borders">
        <td class="bordertext checker">الأبواب الخارجية: {{ doc.finishingexternal }}</td>
        <td class="bordertext checker">الأبواب الداخلية: {{ doc.finishinginternal }}</td>
        <td class="bordertext checker">
            <input type="checkbox" {% if doc.ishavelifts==1 %} checked {% endif %} disabled> مصاعد
            <input type="checkbox" {% if doc.ishaveheaters==1 %} checked {% endif %} disabled> سخانات
        </td>
        <td class="bordertext checker">
            <input type="checkbox" {% if doc.acisinstalled=="غير مركب" %} checked {% endif %} disabled> غير مركب
        </td>
        <td colspan="2" class="bordertext checker">
            نوعية العزل: {{ doc.typeofinsulation }}
        </td>
    </tr>
    <tr class="borders">
        <td class="bordertext checker"></td>
        <td class="bordertext checker"></td>
        <td class="bordertext checker">
            <input type="checkbox" {% if doc.ishavearabicbath==1 %} checked {% endif %} disabled> حمام عربي
            <input type="checkbox" {% if doc.ishaveforeigner==1 %} checked {% endif %} disabled> حمام إفرنجي
        </td>
        <td class="bordertext checker">
            <input type="checkbox" {% if doc.acisinstalled=="مركب" %} checked {% endif %} disabled> مركب بعدد
        </td>
        <td colspan="2"></td>
    </tr>
</table>


<div class="row">
    <div class="col-xs-7" style="padding-left:0">

        <table style="width: 100%; border-collapse: collapse;">
            <tr>
                <th colspan="7" style=" text-align: center;">تقييم الأراضي والمباني</th>
            </tr>
            <tr>
                <td style=" text-align: center;">عناصر المقارنة</td>
                <td style=" text-align: center;">المساحة م2</td>
                <td style=" text-align: center;">سعر المتر المربع</td>
                <td style=" text-align: center;">الإجمالي</td>
            </tr>
            <tr>
                <td>الأرض</td>
                <td>{{ frappe.db.get_value("Cost", doc.name, "eartharea") }}</td>
                <td>{{ frappe.db.get_value("Cost", doc.name, "meterprice") }}</td>
                <td>{{ frappe.db.get_value("Cost", doc.name, "earthtotal") }}</td>
            </tr>

            {% set building_evaluation_entries = frappe.get_all("BuildingComponents", filters={"parenttype": "Cost",
            "parent": doc.name}, fields=["title", "area", "merter_price", "total"]) %}
            {% for entry in building_evaluation_entries %}
            <tr>
                <td>{{ entry.title }}</td>
                <td>{{ entry.area }}</td>
                <td>{{ entry.merter_price }}</td>
                <td>{{ entry.total }}</td>
            </tr>
            {% endfor %}

            {% set building_evaluation_entries_price = frappe.get_all("BuildingComponents_price", filters={"parenttype":
            "Cost", "parent": doc.name}, fields=["title", "area", "merter_price", "total"]) %}
            {% for entry2 in building_evaluation_entries_price %}
            <tr>
                <td>{{ entry2.title }}</td>
                <td>{{ entry2.area }}</td>
                <td>{{ entry2.merter_price }}</td>
                <td>{{ entry2.total }}</td>
            </tr>
            {% endfor %}

            <tr>
                <td colspan="2">إجمالي مسطحات البناء</td>
                <td colspan="2">{{ frappe.db.get_value("Cost", doc.name, "totalarea1") }}</td>
            </tr>
            <tr>
                <td colspan="2">إجمالي قيمة تكلفة المباني</td>
                <td colspan="2">{{ "{:.2f}".format(frappe.db.get_value("Cost", doc.name, "totalprice1")) }}</td>
            </tr>
            <tr>
                <td colspan="2">هامش الربح</td>
                <td colspan="2">{{ "{:.2f}".format(frappe.db.get_value("Cost", doc.name, "profit")) }}</td>
            </tr>
            <tr>
                <td colspan="2">نسبة الاهلاك</td>
                <td colspan="2">{{ "{:.2f}".format(frappe.db.get_value("Cost", doc.name, "lost")) }}</td>
            </tr>
            <tr>
                <td colspan="2">قيمة الإهلاك</td>
                <td colspan="2">{{ "{:.2f}".format(frappe.db.get_value("Cost", doc.name, "lostamount")) }}</td>
            </tr>
            <tr>
                <td colspan="2">القيمة الإجمالية للعقار</td>
                <td colspan="2">{{ "{:.2f}".format(frappe.db.get_value("Cost", doc.name, "buildingprice")) }}</td>
            </tr>
            <tr>
                <td colspan="2">القيمة الإجمالية للعقار</td>
                <td colspan="2">{{ doc.get_formatted('last_value') }} ر.س</td>
            </tr>
        </table>







    </div>
    <div class="col-xs-5" style="padding-right:0">
        <table style="width: 100%; border-collapse: collapse;">
            <tr>
                <th colspan="6" style=" text-align: center;">خدمات الكهرباء والمياه والمباني</th>
            </tr>
            <tr>
                <td>عدد عدادات الكهرباء</td>
                <td>{{ doc.numberofmetersofelectricity or '-' }}</td>
                <td>عدد عدادات المياه</td>
                <td>{{ doc.numberofwatermeters or '-' }}</td>
            </tr>
            <tr>
                <td>رقم العداد (كهرباء)</td>
                <td>{{ doc.electricitymeternumbers or '-' }}</td>
                <td>رقم العداد (مياه)</td>
                <td>{{ doc.countersofwatermeters or '-' }}</td>
            </tr>
            <tr>
                <td colspan="4">في حالة وجود أكثر من عداد تكتب الأرقام وترفق مع التقييم</td>
            </tr>
            <tr>
                <td colspan="4">
                    <h5>نسبة إكتمال العقار: {{ doc.buildingpercnt }} %</h5>
                </td>
            </tr>
            <tr>
                <td colspan="6" style=" text-align: center;">هل العقار به بعض التشطيبات لم تكتمل أو يحتاج لصيانة أو به
                    شقوق</td>
            </tr>
            <tr>
                <td><input type="checkbox" {% if doc.finishing==0 %} checked {% endif %} disabled>لا</td>
                <td><input type="checkbox" {% if doc.finishing==1 %} checked {% endif %} disabled>نعم</td>
                <td colspan="4">{{ doc.explain or '-' }}</td>
            </tr>
            <tr>
                <td colspan="3">
                    تكاليف الصيانة التقديرية ({{ doc.proxmitymantiancecost or '-' }}) ريال
                </td>
                <td colspan="3">
                    التشطيبات غير المكتملة: {{ doc.observationandshortcomingsbuilding or '-' }} بمبلغ {{
                    doc.proxmitymantainccostbuilding or '-' }}
                </td>
            </tr>
            <tr>
                <td colspan="6">رأي مقيم العقار: {{ doc.evaluators_opinion or ''}} {{ doc.noteforentring or '' }}</td>
            </tr>
        </table>
    </div>
</div>

<table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
    <thead>
        <tr>
            <th>المشاركون في إعداد التقرير</th>
        </tr>

    </thead>
</table>
<div class="row">
    <div class="col-xs-6" style="padding-left:0">
        <table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">

            <tbody>
                <tr>
                    <td class="subtitle">الاسم</td>
                    <td>
                        {{ frappe.db.get_value("Employee", filters={"personal_email": doc.evaluation},
                        fieldname="employee_name") }}
                    </td>
                </tr>
                <tr>
                    <td class="subtitle">المسمى الوظيفي</td>
                    <td>مقيم عقاري</td>
                </tr>
                <tr>
                    <td class="subtitle">رقم العضوية</td>
                    <td>
                        {{ frappe.db.get_value("Employee", filters={"personal_email": doc.evaluation},
                        fieldname="membership_no") }}
                    </td>
                </tr>
                <tr>
                    <td class="subtitle">التوقيع</td>
                    <td style="height:70px; width:100px">
                        {% if frappe.db.get_value("Employee", filters={"personal_email": doc.evaluation},
                        fieldname="signiture_attach") %}
                        <img src="http://192.168.1.31/{{ frappe.db.get_value(" Employee", filters={"personal_email":
                            doc.evaluation}, fieldname="signiture_attach" ) }}" style="height:70px; width:100px" />
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-6" style="padding-right: 0">
        <table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">

            <tbody>
                <tr>
                    <td class="subtitle">الاسم</td>
                    <td>عبد العزيز فهد الصنيتان</td>
                </tr>
                <tr>
                    <td class="subtitle">المسمى الوظيفي</td>
                    <td>مراجع</td>
                </tr>
                <tr>
                    <td class="subtitle">رقم العضوية</td>
                    <td>1210002602</td>
                </tr>
                <tr>
                    <td class="subtitle">التوقيع</td>
                    <td style="height:70px; width:100px">
                        <img src="http://192.168.1.31//files/123.JPG" style="height:70px; width:100px" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>


<!-- جدول تقرير الاعتماد -->
<table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
    <thead>
        <tr>
            <th colspan="4" class="titles">هذا التقرير تمت مراجعته واعتماده من قبل المقيم المعتمد</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="subtitle">الاسم</td>
            <td>خالد عبد الكريم الجاسر</td>

            <td class="subtitle">فرع التقييم</td>
            <td>فرع العقار</td>
        </tr>
        <tr>
            <td class="subtitle">الصفة</td>
            <td>المدير التنفيذي</td>

            <td class="subtitle">تاريخ التقرير</td>
            <td>{{ doc.report_date }}</td>
        </tr>
        <tr>
            <td class="subtitle">رقم العضوية</td>
            <td>1210000040</td>

            <td class="subtitle">فئة العضوية</td>
            <td>زميل</td>
        </tr>
        <tr>
            <td class="subtitle">التوقيع</td>
            <td>
                <img src="http://192.168.1.31/files/ceo.png" style="height:70px; width:100px" />
            </td>

            <td class="subtitle">الختم</td>
            <td>
                <img src="http://192.168.1.31/files/stamp_ev.JPG" style="width:100px; height:50px" />
            </td>
        </tr>
    </tbody>
</table>

{% if doc.plannerimage %}
<table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
    <thead>
        <tr>
            <th colspan="10" class="titles">صورة المخطط</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="10">
                <img src="http://192.168.1.31/{{ doc.plannerimage }}" />
            </td>
        </tr>
    </tbody>
</table>
{% endif %}

<table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
    <thead>
        <tr>
            <th colspan="10" class="titles">صورة الأقمار الصناعية</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="10">
                <img
                    src="http://maps.googleapis.com/maps/api/staticmap?zoom=15&size=850x255&markers=color:red|label:T|{{ doc.latitude }},{{ doc.longitude }}&maptype=hybrid&sensor=true&key=AIzaSyAKEzk2mxw_sA_NvKxplyIZFJpZ7VlZZDU">
            </td>
        </tr>
    </tbody>
</table>
<table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
    <thead>
        <tr>
            <th colspan="10" class="titles">صورة الخريطة</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="10">
                <img
                    src="http://maps.googleapis.com/maps/api/staticmap?zoom=15&size=850x255&markers=color:red|label:T|{{ doc.latitude }},{{ doc.longitude }}&maptype=roadmap&sensor=true&key=AIzaSyAKEzk2mxw_sA_NvKxplyIZFJpZ7VlZZDU">
            </td>
        </tr>
    </tbody>
</table>




<table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
    <thead>
        <tr>
            <th colspan="10" class="titles">صورة مقربة للموقع</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="10" class="bordertext">
                <img
                    src="http://maps.googleapis.com/maps/api/staticmap?zoom=19&size=850x245&markers=color:red|label:T|{{ doc.latitude }},{{ doc.longitude }}&maptype=hybrid&sensor=true&key=AIzaSyAKEzk2mxw_sA_NvKxplyIZFJpZ7VlZZDU" />
            </td>
        </tr>
        <tr>
            <td colspan="10" class="bordertext">
                الإحداثيات
            </td>
        </tr>

        <tr>
            <td colspan="2" class="bordertext">
                {{ doc.city }} <span>-</span> {{ doc.gada }}
            </td>
            <td colspan="2" class="bordertext">
                خط العرض Latitude
            </td>
            <td colspan="2" class="bordertext">
                {{ doc.latitude }}
            </td>
            <td colspan="2" class="bordertext">
                خط الطول Longitude
            </td>
            <td colspan="2" class="bordertext">
                {{ doc.longitude }}
            </td>
        </tr>
    </tbody>
</table>


<table style="width:100%; border-collapse:collapse;">
    <tr class="titles borders">
        <td colspan="6">العقارات المقارنة</td>
    </tr>
    <tr class="borders">
        <td class="subtitle">العقار المقارن</td>
        <td class="subtitle">نوع العملية</td>
        <td class="subtitle">المساحة (متر مربع)</td>
        <td class="subtitle">تاريخ العملية</td>
        <td class="subtitle">السعر (ر س)</td>
        <td class="subtitle">السعر لكل متر مربع</td>
    </tr>
    <tr class="borders">
        <td class="subtitle">{{ frappe.db.get_value("Lands", doc.name, "aqartype1") }}</td>
        <td class="bordertext">{{ frappe.db.get_value("Lands", doc.name, "type1") }}</td>
        <td class="bordertext">{{ frappe.db.get_value("Lands", doc.name, "area1") }}</td>
        <td class="bordertext">{{ frappe.db.get_value("Lands", doc.name, "date1") }}</td>
        <td class="bordertext">{{ frappe.db.get_value("Lands", doc.name, "meterprice1") }}</td>
        <td class="bordertext">{{ frappe.db.get_value("Lands", doc.name, "price1") }}</td>
    </tr>
    <tr class="borders">
        <td class="subtitle">{{ frappe.db.get_value("Lands", doc.name, "aqartype2") }}</td>
        <td class="bordertext">{{ frappe.db.get_value("Lands", doc.name, "type2") }}</td>
        <td class="bordertext">{{ frappe.db.get_value("Lands", doc.name, "area2") }}</td>
        <td class="bordertext">{{ frappe.db.get_value("Lands", doc.name, "date2") }}</td>
        <td class="bordertext">{{ frappe.db.get_value("Lands", doc.name, "meterprice2") }}</td>
        <td class="bordertext">{{ frappe.db.get_value("Lands", doc.name, "price2") }}</td>
    </tr>
    <tr class="borders">
        <td class="subtitle">{{ frappe.db.get_value("Lands", doc.name, "aqartype3") }}</td>
        <td class="bordertext">{{ frappe.db.get_value("Lands", doc.name, "type3") }}</td>
        <td class="bordertext">{{ frappe.db.get_value("Lands", doc.name, "area3") }}</td>
        <td class="bordertext">{{ frappe.db.get_value("Lands", doc.name, "date3") }}</td>
        <td class="bordertext">{{ frappe.db.get_value("Lands", doc.name, "meterprice3") }}</td>
        <td class="bordertext">{{ frappe.db.get_value("Lands", doc.name, "price3") }}</td>
    </tr>
</table>



<table class="tableb" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
    <thead>
        <tr>
            <th colspan="3" class="titles">صور العقار</th>
        </tr>
    </thead>
    <tbody>
        {% set attachments = frappe.get_all("File", filters={"attached_to_name": doc.name}, fields=["file_url"]) %}

        {% for attachment in attachments %}
        {% if loop.index0 % 3 == 0 %}
        <tr>
            {% endif %}

            <td class="" style="text-align: center;">
                <img class="image" src="{{ attachment.file_url }}"
                    style="width:220px; height:130px; padding:2px; margin: 1px 1px 2px 1px; border:solid 1px grey" />
            </td>

            {% if loop.index0 % 3 == 2 %}
        </tr>
        {% endif %}
        {% endfor %}

        {% if attachments|length % 3 != 0 %}
        </tr> <!-- Close the last row if it doesn't have 3 images -->
        {% endif %}
    </tbody>
</table>




<table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
    <thead>
        <tr>
            <th colspan="5" class="titles">معايير التقييم الدولية</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="bordertext" colspan="1">نوع التقرير</td>
            <td class="bordertext" colspan="4">{{ doc.report_type }}</td>
        </tr>
        <tr>
            <td class="bordertext" colspan="1">خضوع التقرير</td>
            <td class="bordertext" colspan="4">
                أجري هـذا التقییم و فقا لمعاییر التقییم بالھـیئة السعودیة للمقیمین المعتمدین (تقییم) وطبقا للمذكرات
                التوجیھـية لمعایر التقییم الدولیة 2022 , و یعد
                ھذا التزام صریح من شركة أماكن للتقییم العقاري بأن التقییم قد أعد وفقا لمعاییر الھـیئة السعودیة للمقیمین
                السعودین (تقییم).
            </td>
        </tr>
        <tr>
            <td class="bordertext" colspan="1">تاريخ التقييم</td>
            <td class="bordertext" colspan="4">{{ doc.evaluation_date }}</td>
        </tr>
        <tr>
            <td class="bordertext" colspan="1">الغرض من التقييم</td>
            <td class="bordertext" colspan="4">{{ doc.purpose_of_evaluation }}</td>
        </tr>
        <tr>
            <td class="bordertext" colspan="1">أساس القيمة وتعريفها</td>
            <td class="bordertext" colspan="4">
                {{ doc.value_basis }} -
                {{ frappe.db.get_value("Values", doc.value_basis, "dicription" ) }}
            </td>
        </tr>
        <tr>
            <td class="bordertext" colspan="1">أسلوب التقييم</td>
            <td class="bordertext" colspan="4">
                <input type="checkbox" {% if doc.market_select !="" %} checked {% endif %} disabled> أسلوب السوق
                | <input type="checkbox" {% if doc.cost_select !="" %} checked {% endif %} disabled> أسلوب التكلفة
                | <input type="checkbox" {% if doc.income_select !="" %} checked {% endif %} disabled> أسلوب الدخل
            </td>
        </tr>
        <tr>
            <td class="bordertext" colspan="1">طريقة التقييم</td>
            <td class="bordertext" colspan="4">
                {% if doc.market_select %}
                <div>{{ doc.market_select }}</div>
                {% endif %}
                {% if doc.cost_select %}
                <div>{{ doc.cost_select }}</div>
                {% endif %}
                {% if doc.income_select %}
                <div>{{ doc.income_select }}</div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="bordertext" colspan="1">عملة التقييم</td>
            <td class="bordertext" colspan="4">ريال سعودي (ر.س)</td>
        </tr>
        <tr>
            <td class="bordertext" colspan="1">طريقة استخراج القيمة</td>
            <td class="bordertext" colspan="4">
                عن طريق دراسة المنطقة وتحليل أسعار العقارات التجارية والسكنية والإيجارات والعروض المشابهة للأراضي وتكلفة
                المباني بعد خصم نسبة الإهلاك.
            </td>
        </tr>
        <tr>
            <td class="bordertext" colspan="1">المستندات المقدمة من طالب التقييم</td>
            <td class="bordertext" colspan="4">{{ doc.files }}</td>
        </tr>
        <tr>
            <td class="bordertext" colspan="1">الافتراضات</td>
            <td class="bordertext" colspan="4">
                تم معاینة العقار ظاھریاً ولم یتم فحص العقار إنشائياً أو ملاحظة أي عیوب غیر ظاھره وعلیه یجب أن یفھم أن
                ھذا تقریر تقییم ولیس فحصاً إنشائیاً.
            </td>
        </tr>
        <tr>
            <td class="bordertext" colspan="1">نطاق البحث</td>
            <td class="bordertext" colspan="4">
                اشتمل نطاق التقییم على البحث والتحلیل لاٍعداد التقریر وفقاً للغرض المقصود بالتوافق مع معاییر التقییم
                الدولیة 2022. حیث تم معاینة العقار والحصول على كافة البیانات المتوفرة واللازمة لاٍعداد التقریر، نسخة من
                الصك، المخطط والكروكي التنظيمي، مخططات الهيكلية للمدن المنشورة في المواقع الرسمية، لاستقصاءات المنشورة
                في السوق و البحوث الثانوية المتعلقة بحالة السوق و توقعاته، الكتيبات المنشورة واستفسارات المقاولين ومدراء
                المرافق، مؤشر وزارة العدل، قاعدة البيانات الخاصة بشركة أماكن والتي تتحدث بشكل مستمر، منصة قارن التابعة
                للهيئة السعودية للمقيمين المعتمدين.
            </td>
        </tr>
        <tr>
            <td class="bordertext" colspan="1">مدة التقييم</td>
            <td class="bordertext" colspan="4">
                التقرير صالح لمدة 3 أشهر من تاريخ الاعتماد ما لم يطرأ أي تغيير بمنطقة العقار.
            </td>
        </tr>
        <tr>
            <td class="bordertext" colspan="1">المستخدمون الآخرون</td>
            <td class="bordertext" colspan="4">{{ doc.otherusers }}</td>
        </tr>
        <tr>
            <td class="bordertext" colspan="1">القيود على الاستخدام والنشر والتوزيع</td>
            <td class="bordertext" colspan="4">
                تعد عملیات التقییم والتقاریر سریة للطرف الموجه له أو من یتم اٍحالتھا اٍليه. مع عدم تحمل أي مسؤولیة عن
                الخسائر الناجمة عن الاستخدام غیر المناسب أو غیر المجاز للتقییم, ویحتفظ المقیم بالحق في إدخال أي تعدیلات
                وعمل أي مراجعة على التقییم ودعم نتیجة التقییم في ظل ظروف محددة, ومثال ذلك: عندما تتضح الحقائق التي كانت
                موجودة في تاریخ التقییم للمقیم بعد تاریخ صدور التقییم.
            </td>
        </tr>
        <tr>
            <td class="bordertext" colspan="1">طبيعة ومصدر المعلومات</td>
            <td class="bordertext" colspan="4">
                تم الاعتماد على المعلومات الموجودة في صكوك الملكیة والمستندات المستلمة من العمیل, كما أنه تم الاستناد
                على مصادر معلومات مختلفة من جھات حكومیة (البلدیات ووزارة العدل) وبیانات السوق والمؤشرات الاقتصادیة
                والبیانات التاریخیة لمركز معلومات شركة أماكن للتقييم العقاري.
            </td>
        </tr>
        <tr>
            <td class="bordertext" colspan="1">الافتراضات الخاصة</td>
            <td class="bordertext" colspan="4">
                تمت معاينة العقار ظاهـرياً ولم يتم فحص العقار إنشائياً أو ملاحظة أي عيوب غير ظاهـرة وعليه يجب أن يفهم أن
                هذا تقرير تقييم وليس فحصاً إنشائياً وتم ذكر الافتراضات المتعلقة بالعقار في محددات التقرير.
            </td>
        </tr>
        <tr>
            <td class="bordertext" colspan="1">استنتاج القيمة</td>
            <td class="bordertext" colspan="4">
                {% if doc.market_select %}
                يقدم أسلوب السوق مؤشراً للقيمة من خلال مقارنة الأصل مــع أصول مطابقة أو مقارنة (مشابهة) تتوفر عنها
                معلومات سعرية.
                {% endif %}
                {% if doc.cost_select %}
                يقدم أسلوب التكلفة مؤشرا للقيمة باستخدام المبدأ الاقتصادي الذي ينص على أن المشتري لن يدفع لأصل ما أكثر
                من تكلفة الحصول على أصلة ذي منفعة مماثلة سواء عن طريق الشراء أو البناء ما لم تكن هناك عوامل متعلقة
                بالوقت، أو الإزعاج، أو المخاطر، أو أي عوامل أخرى متعلقة.
                {% endif %}
                {% if doc.income_select %}
                يقدم أسلوب الدخل مؤشرا على القيمة عن طريق تحويل التدفقات النقدية المستقبلية إلى قيمة حالية واحدة، ووفقا
                لهذا الأسلوب يتم تحديد قيمة الأصل بالرجوع إلى قيمة الإيرادات أو التدفقات النقدية أو توفير التكاليف من
                الأصل، ولها عدة طرق وهي عبارة عن تطبيقات متنوعة في استخدام طريقة التدفقات النقدية المخصومة.
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="bordertext" colspan="1">التسويات</td>
            <td class="bordertext" colspan="4">
                تم تنفيذ التسويات اللازمة لطريقة التقييم المستخدمة في التقرير.
            </td>
        </tr>
        <tr>
            <td class="bordertext" colspan="1">استقلالية المقيم</td>
            <td class="bordertext" colspan="4">
                يقر المقيم بأنھ يتمتع بالكفاءة والحیادیة اللازمة وبأن التقییم مستقل عن أي طرف ولا یوجد أي اٍنحیاز لأطراف
                التقییم.
            </td>
        </tr>
    </tbody>
</table>
<!-- FOOTER -->
{% if print_settings.repeat_header_footer %}
<div id="footer-html" class="visible-pdf">
    {% if not no_letterhead and footer %}
    <div class="letter-head-footer">
        {{ footer }}
    </div>
    {% endif %}
    <p style="color: red; font-size:6px">
        تنبيه !! "يعبر تقرير التقييم عن وجهة نظر المقيم من منطلق رأيه الشخصي، وقت التقييم ووفقاً لمعايير التقييم الدولية
        ودون أدنى مسؤولية على المقيم وعلى شركة أماكن، وذلك في حال إن استخدم التقييم أو جزء منه لغير الغرض الذي من أجله
        أعد أو استخدم من قبل شخص غير مخول باستخدامه
    </p>

    <p style="color: black; font-size:6px">
        ©2023 جميع الحقوق الواردة في هذا المستند محفوظة ولا تستخدم الا للغرض الذي عمل لأجله وهو معرفة القيمة وتشكل سري،
        وتظل تلك المستندات والمعلومات الواردة فيها سرية ولا يمكن استخدامه او عرضه على أي جهة اخرى دون الحصول على تصريح
        كتابي مسبق من شركة أماكن للتقييم العقاري
    </p>
    <p class="text-center small page-number visible-pdf">
        {{ _("Page {0} of {1}").format('<span class="page"></span>', '<span class="topage"></span>') }}
    </p>
</div>
{% endif %}