<!-- HEADER -->
{% if print_settings.repeat_header_footer %}
<div id="header-html" class="visible-pdf">
    {% if not no_letterhead and header %}
    <div class="letter-head">
        {{ header }}
    </div>
    {% endif %}
    <p class="text-center small visible-pdf">
    <div class="row">
        <div class="col-xs-2">
            {% if doc.customer %}
            {% set customer_name = doc.customer %}
            <img src="http://192.168.1.31/{{ frappe.db.get_value(" Customer", filters={"name": customer_name},
                fieldname="image" ) }}" />
            {% endif %}
        </div>
        <div class="col-xs-8">
            <div class="row">
                <div class="col-xs-6" style="font-size:14px; font-weight:bold">تقرير تقييم عقاري</div>
                <div class="col-xs-6">تاريخ إصدار التقرير: {{ frappe.format(doc.report_date, {'fieldtype': 'Date'}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">الرقم المرجعي للتقرير: {{ doc.id }}</div>
                <div class="col-xs-6">رمز إيداع التقرير: {{ doc.qima_qr }}</div>
            </div>

        </div>

        <div class="col-xs-2">
            <img style="float:left" src="/files/small.JPG">
            <!--<img style="width: 50px;float:left" src="/files/ceo.png" />-->
        </div>
    </div>
    <table style="width: 100%; margin-top:2px">
        <tr style="background-color: #000; font-weight: bold ">
            <td colspan="1" style="color:#fff;">هوية المقيم المعتمد</td>

            <td colspan="1" style="color:#fff;">خالد عبد الكريم الجاسر</td>


            <td colspan="1" style="color:#fff;">رقم الترخيص</td>
            <td colspan="1" style="color:#fff;">1210000040</td>


            <td colspan="1" style="color:#fff;">تاريخ الترخيص</td>
            <td colspan="1" style="color:#fff;">01/03/1437 هـ</td>

        </tr>
    </table>

    </p>
</div>
{% endif %}
<div class="print-format">
    <table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
        <thead>
            <tr class="titles">
                <th colspan="6" style="text-align: center;">نطاق العمل</th>
            </tr>

        </thead>
        <tbody>

            <tr class="borders">
                <td class="subtitle" style="width: 16.66%;">إسم العميل</td>
                <td class="bordertext" style="width: 16.66%;">{{ doc.customer }}</td>
                <td class="subtitle" style="width: 16.66%;">إسم مستخدم تقرير التقييم</td>
                <td class="bordertext" style="width: 16.66%;">{{ doc.willtoevalution }}</td>
                <td class="subtitle" style="width: 16.66%;">فرضية القيمة</td>
                <td class="bordertext" style="width: 16.66%;">{{ doc.value_hypothesis }}</td>
            </tr>
            <tr class="borders">
                <td class="subtitle" style="width: 16.66%;">أساس القيمة</td>
                <td class="bordertext" style="width: 16.66%;">{{ doc.value_basis }}</td>
                <td class="subtitle" style="width: 16.66%;">تاريخ التقييم</td>
                <td class="bordertext" style="width: 16.66%;">
                    {{ frappe.format(doc.report_date, {'fieldtype': 'Date'}) }}
                </td>
                <td class="subtitle" style="width: 16.66%;">تاريخ المعاينة</td>
                <td class="bordertext" style="width: 16.66%;">
                    {{ frappe.format(doc.evaluation_date, {'fieldtype': 'Date'}) }}
                </td>
            </tr>
            <tr class="borders">
                <td class="subtitle" style="width: 16.66%;">الغرض من التقييم</td>
                <td class="bordertext" style="width: 16.66%;">{{ doc.purpose_of_evaluation }}</td>
                <td class="subtitle" style="width: 16.66%;">اسم المستخدمين الآخرين</td>
                <td class="bordertext" colspan="3">{{ doc.otherusers }}</td>
            </tr>
            <tr class="borders">
                <td class="subtitle" style="width: 16.66%;">الرقم المرجعي</td>
                <td class="bordertext" style="width: 16.66%;">{{ doc.commissioningnumber }}</td>
                <td class="subtitle" style="width: 16.66%;">تاريخ التكليف</td>
                <td class="bordertext" style="width: 16.66%;">
                    {{ frappe.format(doc.dateofcommissioning, {'fieldtype': 'Date'}) }}
                </td>
                <td class="subtitle" style="width: 16.66%;">نوع التقرير</td>
                <td class="bordertext" style="width: 16.66%;">{{ doc.report_type }}</td>
            </tr>
        </tbody>
    </table>



    <table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
        <thead>
            <tr class="titles">
                <th colspan="6" style="text-align: center;">عملة التقييم</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td colspan="6" style="width: 100%;" class="bordertext">
                    ريال سعودي <span>(</span> ر <span>.</span> س <span>)</span>
                </td>
            </tr>

        </tbody>
    </table>





    <table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
        <thead>
            <tr class="titles">
                <th colspan="6" style="text-align: center;">إقرار بالاستقلالية وعدم تضارب المصالح</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td colspan="6" style="width: 100%;" class="bordertext">
                    يقر المقيم بأنه لا يوجد لديه اي مصلحة سواء حالية او محتملة مع الاطراف او العقارات التي يتضمنها هذا
                    التقرير
                </td>
            </tr>

        </tbody>
    </table>


    <table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
        <thead>
            <tr class="titles">
                <th colspan="6" style="text-align: center;">المعايير المهنية</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td colspan="6" style="width: 100%;" class="bordertext">
                    تم إعداد هذا التقرير وفقآ لمعايير التقييم الدولية IVS السارية من 31 يناير 2022 الصادرة عن مجلس
                    المعايير
                    الدولية IVSC والمعتمدة من الهيئة السعودية للمقيمين المعتمدين
                </td>
            </tr>
        </tbody>
    </table>



    <table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
        <thead>
            <tr class="titles">
                <th colspan="10" style="text-align: center;">الأصل محل التقييم</th>
            </tr>
        </thead>
        <tbody>

            <tr class="borders">
                <td style="width: 60%;" class="bordertext" colspan="6">
                    {{ doc.aqartype }}
                </td>
                <td style="width: 30%;" class="bordertext" colspan="3">
                    <input type="checkbox" {% if doc.buildingtype=="جديد" %} checked {% endif %} disabled> جديد
                    <input type="checkbox" {% if doc.buildingtype=="مستخدم" %} checked {% endif %} disabled> مستعمل
                    <input type="checkbox" {% if doc.buildingtype=="اخرى" %} checked {% endif %} disabled> أخرى
                    <input type="checkbox" {% if doc.buildingtype=="قيد الأنشاء" %} checked {% endif %} disabled> تحت
                    الإنشاء
                </td>
                <td style="width: 10%;" class="bordertext" colspan="1">
                    نسبة البناء: {{ doc.buildingpercnt
                    }} %
                </td>
            </tr>
        </tbody>
    </table>



    <table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
        <thead>
            <tr class="titles">
                <th colspan="6" style="text-align: center;">تفاصيل موقع العقار</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="subtitle">إسم المدينة</td>
                <td class="bordertext">{{ doc.city }}</td>
                <td class="subtitle">إسم الحي</td>
                <td class="bordertext">{{ doc.gada }}</td>
                <td class="subtitle">إسم الشارع</td>
                <td class="bordertext">{{ doc.nearestroad }}</td>
            </tr>
            <tr>
                <td class="subtitle">إسم المخطط</td>
                <td class="bordertext">{{ doc.plannername }}</td>
                <td class="subtitle">رقم المخطط</td>
                <td class="bordertext">{{ doc.plannednumber }}</td>
                <td class="subtitle">رقم البلوك</td>
                <td class="bordertext">{{ doc.blocknumber }}</td>
            </tr>
            <tr>
                <td class="subtitle">رقم القطعة</td>
                <td class="bordertext">{{ doc.piecenumber }}</td>
                <td class="subtitle">إستخدام العقار</td>
                <td class="bordertext">{{ doc.aqarclassfication }}</td>
                <td class="subtitle">إحداثيات الموقع</td>
                <td class="bordertext">{{ doc.latitude }} {{ doc.longitude }}</td>
            </tr>
            <tr>
                <td class="subtitle">إسم المالك</td>
                <td class="bordertext">{{ doc.owner2 }}</td>
                <td class="subtitle">رقم الصك</td>
                <td class="bordertext">{{ doc.instrementnumber }}</td>
                <td class="subtitle">تاريخ الصك</td>
                <td class="bordertext">{{ doc.instrementdate }}</td>
            </tr>
            <tr>
                <td class="subtitle">رقم رخصة البناء</td>
                <td class="bordertext">{{ doc.buildingpermitnumber }}</td>
                <td class="subtitle">تاريخ رخصة البناء</td>
                <td class="bordertext">{{ doc.buildingpermitdate }}</td>
                <td class="subtitle">عمر البناء</td>
                <td class="bordertext">{{ doc.aqarage }}</td>
            </tr>
            <tr>
                <td class="subtitle">رقم محضر التجزئة</td>
                <td class="bordertext">{{ doc.tagz }}</td>
                <td class="subtitle">حالة البناء</td>
                <td class="bordertext">{{ doc.buildingstate }}</td>
                <td class="subtitle">حالة الإشغال</td>
                <td class="bordertext">{{ doc.buildingavilablity }}</td>
            </tr>
        </tbody>
    </table>


    <table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
        <thead>
            <tr class="titles">
                <th colspan="2" style="text-align: center;">وصف العقار</th>
            </tr>
        </thead>
        <tbody>
            <tr class="borders">
                <td colspan="2" class="bordertext">
                    {{ doc.noteforentring }}
                </td>
            </tr>
        </tbody>
    </table>




    <div class="row">
        <div class="col-xs-7" style="padding-left:0">
            <table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
                <thead>
                    <tr class="titles">
                        <th colspan="4" style="text-align: center;">حدود وأطوال العقار</th>
                    </tr>
                    <tr class="subtitle">
                        <th style="width: 25%;">الجهة</th>
                        <th style="width: 25%;">طول ضلع الأرض</th>
                        <th style="width: 25%;">الوصف</th>
                        <th style="width: 25%;">الواجهات</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="borders">
                        <td class="subtitle">شمالي</td>
                        <td class="bordertext">{{ doc.northern_length }}</td>
                        <td class="bordertext">{{ doc.northern_border }}</td>
                        <td class="bordertext">{{ doc.finishingnorth }}</td>
                    </tr>
                    <tr class="borders">
                        <td class="subtitle">جنوبي</td>
                        <td class="bordertext">{{ doc.southern_length }}</td>
                        <td class="bordertext">{{ doc.southern_border }}</td>
                        <td class="bordertext">{{ doc.finishingsouth }}</td>
                    </tr>
                    <tr class="borders">
                        <td class="subtitle">شرقي</td>
                        <td class="bordertext">{{ doc.eastern_length }}</td>
                        <td class="bordertext">{{ doc.eastern_border }}</td>
                        <td class="bordertext">{{ doc.finishingeastern }}</td>
                    </tr>
                    <tr class="borders">
                        <td class="subtitle">غربي</td>
                        <td class="bordertext">{{ doc.western_length }}</td>
                        <td class="bordertext">{{ doc.western_border }}</td>
                        <td class="bordertext">{{ doc.finishingwest }}</td>
                    </tr>
                    <tr class="borders">
                        <td class="subtitle" colspan="2">مساحة الجزء الخاص</td>
                        <td class="bordertext" colspan="2">{{ doc.specialarea }}</td>
                    </tr>
                </tbody>
            </table>



        </div>

        <div class="col-xs-5" style="padding-right:0">
            <table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
                <thead>
                    <tr class="titles">
                        <th colspan="2" style="text-align: center;">المساحات</th>
                    </tr>

                    <tr class="borders">
                        <td class="subtitle">الأرض</td>
                        <td class="bordertext">
                            {{ "{:,.2f}".format(doc.earthtotal) }} ر.س
                        </td>
                    </tr>
                </thead>
                <tbody>

                    {% if doc.vaultaera > 0 %}
                    <tr class="borders">
                        <td class="subtitle">القبو </td>
                        <td class="bordertext">{{ "{:,.2f}".format(doc.vaulttotal) }} ر.س</td>
                    </tr>
                    {% endif %}

                    {% if doc.groundflooraera > 0 %}
                    <tr class="borders">
                        <td class="subtitle">الدور الأرضي </td>
                        <td class="bordertext">{{ "{:,.2f}".format(doc.groundfloortotal) }} ر.س</td>
                    </tr>
                    {% endif %}

                    {% if doc.firstroundaera > 0 %}
                    <tr class="borders">
                        <td class="subtitle">الدور الأول </td>
                        <td class="bordertext">{{ "{:,.2f}".format(doc.firstroundtotal) }} ر.س</td>
                    </tr>
                    {% endif %}

                    {% if doc.secondroundaera > 0 %}
                    <tr class="borders">
                        <td class="subtitle">الدور الثاني </td>
                        <td class="bordertext">{{ "{:,.2f}".format(doc.secondroundtotal) }} ر.س</td>
                    </tr>
                    {% endif %}

                    {% if doc.recurringroundaera > 0 %}
                    <tr class="borders">
                        <td class="subtitle">الدور المتكرر </td>
                        <td class="bordertext">{{ "{:,.2f}".format(doc.recurringroundtotal) }} ر.س</td>
                    </tr>
                    {% endif %}

                    {% if doc.annexearthaera > 0 %}
                    <tr class="borders">
                        <td class="subtitle">الملحق الأرضي </td>
                        <td class="bordertext">{{ "{:,.2f}".format(doc.annexearthtotal) }} ر.س</td>
                    </tr>
                    {% endif %}

                    {% if doc.topannexroundaera > 0 %}
                    <tr class="borders">
                        <td class="subtitle">الملحق العلوي</td>
                        <td class="bordertext">{{ "{:,.2f}".format(doc.topannextotal) }} ر.س</td>
                    </tr>
                    {% endif %}

                    {% if doc.mizanaera > 0 %}
                    <tr class="borders">
                        <td class="subtitle">ميزانين</td>
                        <td class="bordertext">{{ "{:,.2f}".format(doc.mizantotal) }} ر.س</td>
                    </tr>
                    {% endif %}

                    {% if doc.appartmentarea > 0 %}
                    <tr class="borders">
                        <td class="subtitle">شقة</td>
                        <td class="bordertext">{{ "{:,.2f}".format(doc.appartmenttotal) }} ر.س</td>
                    </tr>
                    {% endif %}

                    {% if doc.othersaera > 0 %}
                    <tr class="borders">
                        <td class="subtitle">أخرى</td>
                        <td class="bordertext">{{ "{:,.2f}".format(doc.otherstotal) }} ر.س</td>
                    </tr>
                    {% endif %}

                    {% if doc.speciaarea > 0 %}
                    <tr class="borders">
                        <td class="subtitle">الجزء الخاص</td>
                        <td class="bordertext">{{ "{:,.2f}".format(doc.speciatotal) }} ر.س</td>
                    </tr>
                    {% endif %}

                    {% if doc.fencesaera > 0 %}
                    <tr class="borders">
                        <td class="subtitle">الأسوار</td>
                        <td class="bordertext">{{ "{:,.2f}".format(doc.fencestotal) }} ر.س</td>
                    </tr>
                    {% endif %}

                    {% if doc.gardenaera > 0 %}
                    <tr class="borders">
                        <td class="subtitle">الحديقة</td>
                        <td class="bordertext">{{ "{:,.2f}".format(doc.gardentotal) }} ر.س</td>
                    </tr>
                    {% endif %}

                    {% if doc.swimpoolaera > 0 %}
                    <tr class="borders">
                        <td class="subtitle">المسبح</td>
                        <td class="bordertext">{{ "{:,.2f}".format(doc.swimtotal) }} ر.س</td>
                    </tr>
                    {% endif %}

                </tbody>
            </table>


        </div>
    </div>



    <table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
        <thead>
            <tr class="titles">
                <th colspan="4" style="text-align: center;">معلومات رخصة البناء</th>
            </tr>
        </thead>
        <tbody>
            <tr class="bordertext">
                <td class="subtitle" style="width: 25%;">هل العقار على الطبيعة مطابق لرخصة البناء</td>
                <td style="width: 25%;">
                    <input type="checkbox" {% if doc.isaqaridenticalwithbuildinglicense=="نعم" %} checked {% endif %}
                        disabled> نعم
                    <input type="checkbox" {% if doc.isaqaridenticalwithbuildinglicense=="لا" %} checked {% endif %}
                        disabled> لا
                </td>
                <td class="subtitle" style="width: 25%;">حدود المعاينة</td>
                <td style="width: 25%;">{{ doc.previewtype }}</td>
            </tr>
            <tr class="bordertext">
                <td class="subtitle" colspan="2" style="width: 50%;">في حال عدم مطابقة العقار لرخصة البناء الرجاء توضيح
                    المخالفات الممكن ملاحظتها بالمعاينة الظاهرية:</td>
                <td colspan="2" style="width: 50%;">{{ doc.description_of_structural_defects }}</td>
            </tr>
        </tbody>
    </table>




    <table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
        <thead>
            <tr class="titles">
                <th colspan="12" style="text-align: center;">مكونات العقار</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="subtitle" style="width: 8%;">مجالس</td>
                <td class="bordertext" style="width: 8%;">{{ doc.majalescount }}</td>

                <td class="subtitle" style="width: 8%;">غرف طعام</td>
                <td class="bordertext" style="width: 8%;">{{ doc.eatingroomcount }}</td>

                <td class="subtitle" style="width: 8%;">غرف نوم</td>
                <td class="bordertext" style="width: 8%;">{{ doc.sleeproomcount }}</td>

                <td class="subtitle" style="width: 8%;">مطابخ</td>
                <td class="bordertext" style="width: 8%;">{{ doc.kitchenscount }}</td>

                <td class="subtitle" style="width: 8%;">دورات مياه</td>
                <td class="bordertext" style="width: 8%;">{{ doc.wccounts }}</td>

                <td class="subtitle" style="width: 8%;">جاكوزي</td>
                <td class="bordertext" style="width: 8%;">{{ doc.jakozeescount }}</td>
            </tr>
            <tr>
                <td class="subtitle" style="width: 8%;">حديقة</td>
                <td class="bordertext" style="width: 8%;">{{ doc.gardencount }}</td>

                <td class="subtitle" style="width: 8%;">غرفة خادمة</td>
                <td class="bordertext" style="width: 8%;">{{ doc.housekeeperroomcount }}</td>

                <td class="subtitle" style="width: 8%;">غرفة حارس</td>
                <td class="bordertext" style="width: 8%;">{{ doc.securtiesroomcount }}</td>

                <td class="subtitle" style="width: 8%;">قبو</td>
                <td class="bordertext" style="width: 8%;">{{ doc.basementcount }}</td>

                <td class="subtitle" style="width: 8%;">الصالات</td>
                <td class="bordertext" style="width: 8%;">{{ doc.hallscount }}</td>

                <td class="subtitle" style="width: 8%;">الملاحق</td>
                <td class="bordertext" style="width: 8%;">{{ doc.appendxcount }}</td>
            </tr>
            <tr>
                <td class="subtitle" style="width: 8%;">مصاعد</td>
                <td class="bordertext" style="width: 8%;">{{ doc.elvatorscount }}</td>

                <td class="subtitle" style="width: 8%;">موقف سيارات</td>
                <td class="bordertext" style="width: 8%;">{{ doc.carbarkingscount }}</td>

                <td class="subtitle" style="width: 8%;">ملاعب أطفال</td>
                <td class="bordertext" style="width: 8%;">{{ doc.kidsstidocount }}</td>

                <td class="subtitle" style="width: 8%;">مسبح</td>
                <td class="bordertext" style="width: 8%;">{{ doc.swimingpoolcount }}</td>

                <td class="subtitle" style="width: 8%;">مستودع</td>
                <td class="bordertext" style="width: 8%;">{{ doc.warehousecount }}</td>

                <td class="subtitle" style="width: 8%;">أخرى</td>
                <td class="bordertext" style="width: 8%;">{{ doc.othercount }}</td>
            </tr>
        </tbody>
    </table>


    <table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
        <thead>
            <tr class="titles">
                <th colspan="2" style="text-align: center;">
                    تصنيف مستوى تشطيبات البناء
                    <span style="font-size: 8px;">
                        (هذا الجزء لا يعبأ في حال كان نوع المعاينة لخارج العقار فقط أو كان نوع العقار أرض)
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="subtitle" style="width: 20%;">نوع التشطيب</td>
                <td class="bordertext" style="width: 80%;">
                    {{ doc.finisingtype }}

                    {# {% if doc.finishingnorth %}
                    الواجهة الشمالية: {{ doc.finishingnorth }}،
                    {% endif %}
                    {% if doc.finishingsouth %}
                    الواجهة الجنوبية: {{ doc.finishingsouth }}،
                    {% endif %}
                    {% if doc.finishingeastern %}
                    الواجهة الشرقية: {{ doc.finishingeastern }}،
                    {% endif %}
                    {% if doc.finishingwest %}
                    الواجهة الغربية: {{ doc.finishingwest }}.
                    {% endif %}
                    {% if doc.finishingahwash %}
                    أرضية الأحواش: {{ doc.finishingahwash }}،
                    {% endif %}
                    {% if doc.finishingreception %}
                    أرضية الاستقبال: {{ doc.finishingreception }}،
                    {% endif %}
                    {% if doc.finishingentrance %}
                    أرضية المدخل: {{ doc.finishingentrance }}،
                    {% endif %}
                    {% if doc.finishingrooms %}
                    أرضية الغرف: {{ doc.finishingrooms }}،
                    {% endif %}
                    {% if doc.qualityofflooroutdoor %}
                    نوعية أرضيات الساحات الخارجية: {{ doc.qualityofflooroutdoor }}.
                    {% endif %}
                    {% if doc.mjalsfloor %}
                    أرضية المجالس: {{ doc.mjalsfloor }}،
                    {% endif %}
                    {% if doc.eatinghalls %}
                    أرضية صالات الطعام: {{ doc.eatinghalls }}،
                    {% endif %}
                    {% if doc.finishinginternal %}
                    الابواب الداخلية: {{ doc.finishinginternal }}،
                    {% endif %}
                    {% if doc.finishingexternal %}
                    الابواب الخارجية: {{ doc.finishingexternal }}،
                    {% endif %}
                    {% if doc.externalwallcomponents %}
                    مكونات الجدران الخارجية: {{ doc.externalwallcomponents }}،
                    {% endif %}
                    {% if doc.windowstype %}
                    نوعية الشبابيك: {{ doc.windowstype }}،
                    {% endif %}
                    {% if doc.plammingtype %}
                    نوعية التسليك والسباكة: {{ doc.plammingtype }}،
                    {% endif %}
                    {% if doc.innerpaint %}
                    نوعية الدهان الداخلي: {{ doc.innerpaint }}،
                    {% endif %}
                    {% if doc.gypusmtype %}
                    أعمال الجبس: {{ doc.gypusmtype }}،
                    {% endif %}
                    {% if doc.qualityofgypusmworker %}
                    جودة عمال الجبس: {{ doc.qualityofgypusmworker }}
                    {% endif %} #}
                </td>
            </tr>

            <tr>
                <td class="subtitle" style="width: 20%;">وصف العيوب الإنشائية</td>
                <td class="bordertext" style="width: 80%;">
                    {{ doc.description_of_structural_defects }}
                </td>
            </tr>
        </tbody>
    </table>




    <table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
        <thead>
            <tr class="titles">
                <th colspan="2" style="text-align: center;">الخدمات والمرافق المتوفرة بالعقار</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2" class="bordertext">
                    <input type="checkbox" {% if doc.ishavephone==1 %} checked {% endif %} disabled> هاتف
                    <input type="checkbox" {% if doc.ishavesanitation==1 %} checked {% endif %} disabled> صرف صحي
                    <input type="checkbox" {% if doc.ishavewater_==1 %} checked {% endif %} disabled> المياه
                    {%if doc.countersofwatermeters %}
                    (رقم العداد هو:
                    {{ doc.countersofwatermeters }})
                    {% endif %}
                    <input type="checkbox" {% if doc.ishaveelectric==1 %} checked {% endif %} disabled> الكهرباء

                    {%if doc.electricitymeternumbers %}
                    (رقم العداد هو:
                    {{ doc.electricitymeternumbers }})
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>


    <table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
        <thead>
            <tr class="titles">
                <th colspan="4" style="text-align: center;">المحيط المؤثر للعقار</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="bordertext">
                    <input type="checkbox" {% if doc.mosquname %}checked{% endif %} disabled> جامع
                    {% if doc.mosquname %}
                    <br />
                    {{ doc.mosquname }} على مسافة {{ doc.mosqudistance }}
                    {% endif %}
                </td>
                <td class="bordertext">
                    <input type="checkbox" {% if doc.medicalname %}checked{% endif %} disabled> مرفق طبي
                    {% if doc.medicalname %}
                    <br />
                    {{ doc.medicalname }} على مسافة {{ doc.medicaldistance }}
                    {% endif %}
                </td>
                <td class="bordertext">
                    <input type="checkbox" {% if doc.securityname %}checked{% endif %} disabled> مرفق أمني
                    {% if doc.securityname %}
                    <br />
                    {{ doc.securityname }} على مسافة {{ doc.securitydistance }}
                    {% endif %}
                </td>
                <td class="bordertext">
                    <input type="checkbox" {% if doc.commercialname %}checked{% endif %} disabled> سوق تجاري
                    {% if doc.commercialname %}
                    <br />
                    {{ doc.commercialname }} على مسافة {{ doc.commercialdistance }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="bordertext">
                    <input type="checkbox" {% if doc.gardenname %}checked{% endif %} disabled> حديقة
                    {% if doc.gardenname %}
                    <br />
                    {{ doc.gardenname }} على مسافة {{ doc.gardendistance }}
                    {% endif %}
                </td>
                <td class="bordertext">
                    <input type="checkbox" {% if doc.educationalname %}checked{% endif %} disabled> مرفق تعليمي
                    {% if doc.educationalname %}
                    <br />
                    {{ doc.educationalname }} على مسافة {{ doc.educationaldistance }}
                    {% endif %}
                </td>
                <td class="bordertext">
                    <input type="checkbox" {% if doc.govermentname %}checked{% endif %} disabled> مرفق حكومي
                    {% if doc.govermentname %}
                    <br />
                    {{ doc.govermentname }} على مسافة {{ doc.governamedistance }}
                    {% endif %}
                </td>
                <td class="bordertext">
                    <input type="checkbox" {% if doc.highwayname %}checked{% endif %} disabled> طريق سريع
                    {% if doc.highwayname %}
                    <br />
                    {{ doc.highwayname }} على مسافة {{ doc.highwaydistance }}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>



    <table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
        <thead>
            <tr class="titles">
                <th style="text-align: center;">نطاق البحث ومصادر معلومات المقيم</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="bordertext">
                    اشتمل نطاق التقییم على البحث والتحلیل لاٍعداد التقریر وفقاً للغرض المقصود بالتوافق مع معاییر التقییم
                    الدولیة 2022، حیث تم معاینة العقار والحصول على كافة البیانات المتوفرة واللازمة لاٍعداد التقریر، نسخة
                    من
                    الصك، المخطط والكروكي التنظيمي، مخططات الهيكلية للمدن المنشورة في المواقع الرسمية، لاستقصاءات
                    المنشورة
                    في السوق والبحوث الثانوية المتعلقة بحالة السوق وتوقعاته، الكتيبات المنشورة واستفسارات المقاولين
                    ومدراء
                    المرافق، مؤشر وزارة العدل، قاعدة البيانات الخاصة بشركة أماكن والتي تتحدث بشكل مستمر، منصة قارن
                    التابعة
                    للهيئة السعودية للمقيمين المعتمدين.
                </td>
            </tr>
        </tbody>
    </table>


    <table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
        <thead>
            <tr class="titles">
                <th colspan="6" style="text-align: center;">أساليب وطرق التقييم</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2" class="bordertext" style="width: 33%;">
                    <input type="checkbox" {% if doc.market_approach==1 %} checked {% endif %} disabled> أسلوب السوق
                </td>
                <td colspan="2" class="bordertext" style="width: 33%;">
                    <input type="checkbox" {% if doc.cost_approach==1 %} checked {% endif %} disabled> أسلوب التكلفة
                </td>
                <td colspan="2" class="bordertext" style="width: 33%;">
                    <input type="checkbox" {% if doc.income_method==1 %} checked {% endif %} disabled> أسلوب الدخل
                </td>
            </tr>
            <tr>
                <td colspan="2" class="bordertext">
                    <input type="checkbox" {% if doc.comparisons_method==1 %} checked {% endif %} disabled> المقارنات

                    <input type="checkbox" {% if doc.heuristic_method==1 %} checked {% endif %} disabled> الاسترشادية
                    للمقارنات المتداولة
                </td>
                <td colspan="2" class="bordertext">
                    <input type="checkbox" {% if doc.destructive_replacement_method==1 %} checked {% endif %} disabled>
                    الإحلال
                </td>
                <td colspan="2" class="bordertext">
                    <input type="checkbox" {% if doc.collection_method==1 %} checked {% endif %} disabled> الجمع

                    <input type="checkbox" {% if doc.investment_method==1 %} checked {% endif %} disabled> رسملة الدخل

                    <input type="checkbox" {% if doc.residual_value_method==1 %} checked {% endif %} disabled> القيمة
                    المتبقية
                </td>
            </tr>
        </tbody>
    </table>
</div>
</br>

<div class="print-format">
    <table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
        <thead>
            <tr class="titles">
                <th colspan="8" style="text-align: center;">العقارات المقارنة - مباني</th>
            </tr>
            <tr>
                <th class="subtitle" style="width: 12.5%;">العقار المقارن</th>
                <th class="subtitle" style="width: 12.5%;">نوع العملية</th>
                <th class="subtitle" style="width: 12.5%;"><span
                        style="font-size:8px; color: #ffffff !important;">المساحة
                        متر مربع</span></th>
                <th class="subtitle" style="width: 12.5%;">تاريخ العملية</th>
                <th class="subtitle" style="width: 12.5%;">السعر لكل متر مربع</th>
                <th class="subtitle" style="width: 12.5%;">السعر ( ر س )</th>

                <th class="subtitle" style="width: 12.5%;">اسم الحي</th>
                <th class="subtitle" style="width: 12.5%;">احداثيات الموقع</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td class="bordertext">{{ doc.aqartype1 }}</td>
                <td class="bordertext">{{ doc.type1 }}</td>
                <td class="bordertext">{{ doc.area1 }}</td>
                <td class="bordertext">{{ doc.date1 }}</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.meterprice1 or 0) }} ر.س</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.price1 or 0) }} ر.س</td>
                <td class="bordertext">{{ doc.gada1 }}</td>
                <td class="bordertext">{{ doc.location1 }}</td>
            </tr>
            <tr>
                <td class="bordertext">{{ doc.aqartype2 }}</td>
                <td class="bordertext">{{ doc.type2 }}</td>
                <td class="bordertext">{{ doc.area2 }}</td>
                <td class="bordertext">{{ doc.date2 }}</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.meterprice2 or 0) }} ر.س</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.price2 or 0) }} ر.س</td>
                <td class="bordertext">{{ doc.gada2 }}</td>
                <td class="bordertext">{{ doc.location2 }}</td>
            </tr>
            <tr>
                <td class="bordertext">{{ doc.aqartype3 }}</td>
                <td class="bordertext">{{ doc.type3 }}</td>
                <td class="bordertext">{{ doc.area3 }}</td>
                <td class="bordertext">{{ doc.date3 }}</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.meterprice3 or 0) }} ر.س</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.price3 or 0) }} ر.س</td>
                <td class="bordertext">{{ doc.gada3 }}</td>
                <td class="bordertext">{{ doc.location3 }}</td>
            </tr>
        </tbody>

    </table>



    <table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
        <thead>
            <tr class="titles">
                <th colspan="4" style="text-align: center;">جدول التسويات</th>
            </tr>
            <tr>
                <th class="subtitle" style="width: 50%;">عناصر المقارنة</th>
                <th class="subtitle" style="width: 16.67%;">العقار بالمقارن ( 1 )</th>
                <th class="subtitle" style="width: 16.67%;">العقار بالمقارن ( 2 )</th>
                <th class="subtitle" style="width: 16.67%;">العقار بالمقارن ( 3 )</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="subtitle">تسوية عامل الوقت</td>
                <td class="bordertext">{{ doc.time_factor1 }}</td>
                <td class="bordertext">{{ doc.time_factor2 }}</td>
                <td class="bordertext">{{ doc.time_factor3 }}</td>
            </tr>
            <tr>
                <td class="subtitle">تسوية شروط التمويل</td>
                <td class="bordertext">{{ doc.terms1 }}</td>
                <td class="bordertext">{{ doc.terms2 }}</td>
                <td class="bordertext">{{ doc.terms3 }}</td>
            </tr>
            <tr>
                <td class="subtitle">تسوية ظروف السوق</td>
                <td class="bordertext">{{ doc.conditions1 }}</td>
                <td class="bordertext">{{ doc.conditions2 }}</td>
                <td class="bordertext">{{ doc.conditions3 }}</td>
            </tr>
            <tr>
                <td class="subtitle">إجمالي تسويات التمويل والسوق%</td>
                <td class="bordertext">{{ doc.total_financing1 }}</td>
                <td class="bordertext">{{ doc.total_financing2 }}</td>
                <td class="bordertext">{{ doc.total_financing3 }}</td>
            </tr>
            <tr>
                <td class="subtitle">سعر البيع بعد تسوية شروط التمويل وظروف السوق</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.selling_after1 or 0) }} ر.س</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.selling_after2 or 0) }} ر.س</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.selling_after3 or 0) }} ر.س</td>
            </tr>
            <tr>
                <td class="subtitle">تسوية المساحة</td>
                <td class="bordertext">{{ doc.space1 }}</td>
                <td class="bordertext">{{ doc.space2 }}</td>
                <td class="bordertext">{{ doc.space3 }}</td>
            </tr>
            <tr>
                <td class="subtitle">تسويات أخرى (حيازة, التنظيم, سكني, الموقع على طبيعة الأرض, عدد الشوارع) -
                    إجمالي</td>
                <td class="bordertext">{{ doc.other_adjustments1 }}</td>
                <td class="bordertext">{{ doc.other_adjustments2 }}</td>
                <td class="bordertext">{{ doc.other_adjustments3 }}</td>
            </tr>
            <tr>
                <td class="subtitle">سعر البيع بعد التسويات</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.selling_price1 or 0) }} ر.س</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.selling_price2 or 0) }} ر.س</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.selling_price3 or 0) }} ر.س</td>
            </tr>
            <tr>
                <td class="subtitle">الأوزان النسبية للعقارات المقارنة</td>
                <td class="bordertext">{{ doc.weight1 }}%</td>
                <td class="bordertext">{{ doc.weight2 }}%</td>
                <td class="bordertext">{{ doc.weight3 }}%</td>
            </tr>
            <tr>
                <td class="subtitle">مساهمة العقارات المقارنة حسب الوزن النسبي</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.contribution1 or 0) }} ر.س</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.contribution2 or 0) }} ر.س</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.contribution3 or 0) }} ر.س</td>
            </tr>
            <tr>
                <td class="subtitle">سعر المتر</td>
                <td colspan="3" class="bordertext">{{ "{:,.2f}".format(doc.meter_price or 0) }} ر.س</td>
            </tr>
            <tr>
                <td class="subtitle">القيمة السوقية بطريقة البيوع المقارنة</td>
                <td colspan="3" class="bordertext">{{ "{:,.2f}".format(doc.market_value or 0) }} ر.س</td>
            </tr>
        </tbody>

    </table>

</div>
</br>


<div class="print-format">
    <table class="borders" style="width: 100%; border-collapse: collapse;">
        <thead>
            <tr class="titles">
                <th colspan="6" style="text-align: center;">أسلوب الدخل - طريقة رسملة الدخل</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="subtitle" style="width: 16.6%;">إجمالي الدخل</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.gross_income or 0) }} ر.س</td>

                <td class="subtitle">نسبة الشواغر</td>
                <td class="bordertext">{{ doc.vacancyrate or 0 }}%</td>

                <td class="subtitle">قيمة الشواغر</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.value_of_vacancies1 or 0) }} ر.س</td>
            </tr>

            <tr>
                <td class="subtitle">مجمل الدخل الفعال</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.totaleffectiveincome or 0) }} ر.س</td>

                <td class="subtitle">نسبة مصروفات التشغيل والصيانة</td>
                <td class="bordertext">{{ doc.operatingexpenseratio or 0 }}%</td>

                <td class="subtitle">قيمة مصروفات التشغيل والصيانة</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.operationandmaintenance_expenses or 0) }} ر.س
                </td>
            </tr>

            <tr>
                <td class="subtitle">صافي الدخل بعد خصم مصروفات التشغيل</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.income11 or 0) }} ر.س</td>

                <td class="subtitle">معدل الرسملة</td>
                <td class="bordertext">{{ doc.capitalization_rate11 or 0 }}%</td>

                <td class="subtitle">قيمة العقار</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.property_value11 or 0) }} ر.س</td>
            </tr>

            <tr>
                <td class="subtitle">قيمة العقار بعد التقريب</td>
                <td class="bordertext" colspan="5">
                    {{ "{:,}".format((doc.property_value1111 or 0) | int) }} ر.س
                </td>
            </tr>
        </tbody>
    </table>

    <table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
        <thead>
            <tr class="titles">
                <th colspan="6" style="text-align: center;">أسلوب الدخل - طريقة القيمة المتبقية</th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <td colspan="1" class="subtitle" style="width: 33%;">إجمالي مساحة الأرض</td>
                <td colspan="5" class="bordertext" style="width: 67%;">
                    {{ doc.eartharea }}
                </td>
            </tr>
        </tbody>
    </table>


    <table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
        <thead>
            <tr>
                <th colspan="5">التخطيط والتطوير GDV</th>
            </tr>
            <tr>
                <th class="subtitle" colspan="1">الاستعمال</th>
                <th class="subtitle" colspan="1">النسبة</th>
                <th class="subtitle" colspan="1">المساحة المطورة</th>
                <th class="subtitle" colspan="1">سعر بيع المتر المطور</th>
                <th class="subtitle" colspan="1">إجمالي القيمة للجزء المطور</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="subtitle">تجاري رئيسي</td>
                <td class="bordertext">{{ doc.major }}%</td>
                <td class="bordertext">{{ doc.major_space }}</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.major_price) }} ر.س</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.major_total) }} ر.س</td>
            </tr>
            <tr>
                <td class="subtitle">تجاري ثانوي</td>
                <td class="bordertext">{{ doc.secondary }}%</td>
                <td class="bordertext">{{ doc.secondary_space }}</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.secondary_price) }} ر.س</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.secondary_total) }} ر.س</td>
            </tr>
            <tr>
                <td class="subtitle">سكني</td>
                <td class="bordertext">{{ doc.residential }}%</td>
                <td class="bordertext">{{ doc.residential_space }}</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.residential_price) }} ر.س</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.residential_total) }} ر.س</td>
            </tr>
            <tr>
                <td class="subtitle">صناعي</td>
                <td class="bordertext">{{ doc.industrial }}%</td>
                <td class="bordertext">{{ doc.industrial_space }}</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.industrial_price) }} ر.س</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.industrial_total) }} ر.س</td>
            </tr>
            <tr>
                <td class="subtitle">ديني وحدائق</td>
                <td class="bordertext">{{ doc.gardens }}%</td>
                <td class="bordertext">{{ doc.gardens_space }}</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.gardens_price) }} ر.س</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.gardens_total) }} ر.س</td>
            </tr>
            <tr>
                <td class="subtitle">تعليمي</td>
                <td class="bordertext">{{ doc.educational }}%</td>
                <td class="bordertext">{{ doc.educational_space }}</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.educational_price) }} ر.س</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.educational_total) }} ر.س</td>
            </tr>
            <tr>
                <td class="subtitle">الخدمات العامة</td>
                <td class="bordertext">{{ doc.public_services }}%</td>
                <td class="bordertext">{{ doc.public_services_space }}</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.public_services_price) }} ر.س</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.public_services_total) }} ر.س</td>
            </tr>

        </tbody>
    </table>
    <table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
        <tbody>

            <tr>
                <td colspan="2" class="subtitle">إجمالي النسبة</td>
                <td colspan="2" class="bordertext">{{ doc.total_ratio }}%</td>
                <td colspan="2" class="subtitle">إجمالي قيمة التطوير</td>
                <td colspan="2" class="bordertext">{{ "{:,.2f}".format(doc.gdv) }} ر.س</td>
            </tr>
        </tbody>
    </table>


    <table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
        <thead>
            <tr>
                <th colspan="6">تكاليف التطوير DC</th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <td colspan="1" class="subtitle">متوسط تكلفة متر التطوير المربع</td>
                <td colspan="1" class="bordertext">{{ doc.average_cost }}%</td>
                <td colspan="1" class="bordertext">{{ "{:,.2f}".format(doc.average_cost_total) }} ر.س</td>
                <td colspan="1" class="subtitle">مصاريف تمويل</td>
                <td colspan="1" class="bordertext">{{ doc.financing }}%</td>
                <td colspan="1" class="bordertext">{{ "{:,.2f}".format(doc.financing_total) }} ر.س</td>
            </tr>
            <tr>
                <td colspan="1" class="subtitle">مصاريف إدارية وقانونية</td>
                <td colspan="1" class="bordertext">{{ doc.legal }}%</td>
                <td colspan="1" class="bordertext">{{ "{:,.2f}".format(doc.legal_total) }} ر.س</td>
                <td colspan="1" class="subtitle">مصاريف تسويقية</td>
                <td colspan="1" class="bordertext">{{ doc.marketing }}%</td>
                <td colspan="1" class="bordertext">{{ "{:,.2f}".format(doc.marketing_total) }} ر.س</td>
            </tr>
            <tr>
                <td colspan="1" class="subtitle">تكاليف طارئة</td>
                <td colspan="1" class="bordertext">{{ doc.incidental_costs }}%</td>
                <td colspan="1" class="bordertext">{{ "{:,.2f}".format(doc.incidental_costs_total) }} ر.س</td>
                <td colspan="1" class="subtitle">مخاطر محتملة</td>
                <td colspan="1" class="bordertext">{{ doc.risks }}%</td>
                <td colspan="1" class="bordertext">{{ "{:,.2f}".format(doc.risks_total) }} ر.س</td>
            </tr>
            <tr>
                <td colspan="4"></td>
                <td class="subtitle">اجمالي تكاليف التطوير DC</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.dc) }} ر.س</td>
            </tr>
        </tbody>
    </table>

    <table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
        <thead>
            <tr>
                <th colspan="5">ربح المطور</th>
            </tr>
            <tr>
                <th colspan="1" class="subtitle">مدة التطوير والتسويق</th>
                <th colspan="1" class="subtitle">هامش الربح السنوي</th>
                <th colspan="1" class="subtitle">اجمالي هامش الربح</th>
                <th colspan="1" class="subtitle">ربح المطور</th>
                <th colspan="1" class="subtitle">القيمة المتبقية Residual Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="bordertext">{{ doc.duration }}</td>
                <td class="bordertext">{{ doc.profit_margin }}</td>
                <td class="bordertext">{{ doc.gross_profit }}%</td>
                <td class="bordertext">
                    {{ "{:,.2f}".format(doc.won) }} ر.س
                </td>
                <td class="bordertext">
                    {{ "{:,.2f}".format(doc.value) }} ر.س
                </td>
            </tr>
        </tbody>
    </table>


    <table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
        <thead>
            <tr>
                <th colspan="5">القيمة الحالية</th>
            </tr>
            <tr>
                <th colspan="1" class="subtitle">معدل الخصم</th>
                <th colspan="1" class="subtitle">معامل القيمة الحالية</th>
                <th colspan="1" class="subtitle">قيمة الأرض الحالية</th>
                <th colspan="1" class="subtitle">سعر المتر المربع الحالي للأرض</th>
                <th colspan="1" class="subtitle">القيمة الحالية بعد التقريب</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="bordertext">{{ doc.discount }}</td>
                <td class="bordertext">{{ doc.factor }}</td>
                <td class="bordertext">
                    {{ "{:,.2f}".format(doc.current) }} ر.س
                </td>
                <td class="bordertext">
                    {{ "{:,.2f}".format(doc.current_price) }} ر.س
                </td>
                <td class="bordertext">
                    {{ "{:,.0f}".format(doc.current) }} ر.س
                </td>
            </tr>
        </tbody>
    </table>
</div>
</br>

<div class="print-format">
    <table class="borders" style="width: 100%; border-collapse: collapse;">
        <thead>
            <tr class="titles">
                <th colspan="2" style="text-align: center;">أسلوب التكلفة</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="subtitle" style="width: 35%;">إجمالي مسطحات البناء</td>
                <td class="bordertext">{{ doc.totalarea1 or '' }}</td>
            </tr>
            <tr>
                <td class="subtitle">إجمالي قيمة تكلفة المباني</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.totalprice1 or 0) }} ر.س</td>
            </tr>
            <tr>
                <td class="subtitle">هامش الربح</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.profit or 0) }}%</td>
            </tr>
            <tr>
                <td class="subtitle">قيمة هامش الربح</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.profitamount or 0) }} ر.س</td>
            </tr>
            <tr>
                <td class="subtitle">عمر العقار الحالي</td>
                <td class="bordertext">{{ doc.aqarage or '' }}</td>
            </tr>
            <tr>
                <td class="subtitle">العمر الافتراضي للعقار (الاقتصادي)</td>
                <td class="bordertext">{{ doc.defaultage or '' }}</td>
            </tr>
            <tr>
                <td class="subtitle">نسبة الاهلاك</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.lost or 0) }}%</td>
            </tr>
            <tr>
                <td class="subtitle">قيمة الإهلاك</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.lostamount or 0) }} ر.س</td>
            </tr>
            <tr>
                <td class="subtitle">نسبة هامش الخطأ</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.error or 0) }}%</td>
            </tr>
            <tr>
                <td class="subtitle">القيمة الإجمالية للعقار</td>
                <td class="bordertext">{{ "{:,.2f}".format(doc.buildingprice or 0) }} ر.س</td>
            </tr>
        </tbody>
    </table>



    <table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
        <thead>
            <tr class="titles">
                <th>الترجيح</th>
                <th>القيمة السوقية بأسلوب السوق</th>
                <th>القيمة السوقية بأسلوب التكلفة</th>
                <th>القيمة السوقية بأسلوب الدخل</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            </tr>
            <tr>
                <td class="subtitle">القيم</td>
                <td class="bordertext">{{ doc.get_formatted('market_amount') }} ر.س</td>
                <td class="bordertext">{{ doc.get_formatted('cost_amount') }} ر.س</td>
                <td class="bordertext">{{ doc.get_formatted('income_amount') }} ر.س</td>
            </tr>
            <tr>
                <td class="subtitle">الأوزان النسبية للأساليب المستخدمة</td>
                <td class="bordertext">{{ doc.market_method }}%</td>
                <td class="bordertext">{{ doc.cost_method }}%</td>
                <td class="bordertext">{{ doc.income_method }}%</td>
            </tr>
            <tr>
                <td class="subtitle">مساهمة الأساليب المستخدمة حسب الوزن النسبي</td>
                <td class="bordertext">{{ doc.get_formatted('market_cost') }} ر.س</td>
                <td class="bordertext">{{ doc.get_formatted('cost_cost') }} ر.س</td>
                <td class="bordertext">{{ doc.get_formatted('income_cost') }} ر.س</td>
            </tr>
        </tbody>
    </table>
</div>
</br>
<div class="print-format">
    <table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">

        <thead>
            <tr>
                <th colspan="4" class="titles">القيمة السوقية بعد الترجيح</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="1" class="subtitle">القيمة رقماً</td>
                <td colspan="3" class="bordertext">{{ doc.get_formatted('last_value') }} ر.س</td>
            </tr>
            <tr>
                <td colspan="1" class="subtitle">القيمة كتابة</td>
                <td colspan="3" class="bordertext">{{ frappe.utils.money_in_words(doc.last_value) }}</td>
            </tr>
        </tbody>
    </table>

    <table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">

        <thead>
            <tr>
                <th colspan="4" class="titles">
                    * القيمة الاسترشادية للأرض بافتراض خاص أنها أرض فضاء التي لا تتحقق إلا بتحقق الافتراض
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="1" class="subtitle">القيمة رقماً</td>
                <td colspan="3" class="bordertext">{{ "{:,.2f}".format(doc.earthtotal)}} ر.س</td>
            </tr>
            <tr>
                <td colspan="1" class="subtitle">القيمة كتابة</td>
                <td colspan="3" class="bordertext">
                    {% set value = doc.earthtotal %}
                    {% set formatted_value = "%.2f" | format(value | float) %}
                    {{ frappe.utils.money_in_words(formatted_value | float) }}
                </td>
            </tr>
        </tbody>
    </table>

    <table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">

        <thead>
            <tr>
                <th colspan="4" class="titles">
                    ** القيمة السوقية للعقار "كما هو" (المرحلة الحالية من التطوير)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="1" class="subtitle">القيمة رقماً</td>
                <td colspan="3" class="bordertext">{{ doc.get_formatted('last_value') }} ر.س</td>
            </tr>
            <tr>
                <td colspan="1" class="subtitle">القيمة كتابة</td>
                <td colspan="3" class="bordertext">{{ frappe.utils.money_in_words(doc.last_value) }}</td>
            </tr>
        </tbody>
    </table>

    <table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">

        <thead>
            <tr>
                <th colspan="4" class="titles">
                    *** القيمة السوقية للعقار "كما هو مقترح" (التطوير كما لو كان مكتمل)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="1" class="subtitle">القيمة رقماً</td>
                <td colspan="3" class="bordertext">{{ doc.get_formatted('the_property_is_as_if_it_was_completed') }} ر.س
                </td>
            </tr>
            <tr>
                <td colspan="1" class="subtitle">القيمة كتابة</td>
                <td colspan="3" class="bordertext">{{
                    frappe.utils.money_in_words(doc.the_property_is_as_if_it_was_completed) }}</td>
            </tr>
        </tbody>
    </table>


    <table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
        <thead>
            <tr>
                <th colspan="2" class="titles">القيود على الاستخدام والنشر</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2" class="bordertext">
                    يعتبر هذا التقرير سري وهو لاستخدام العميل والمستخدمين المقصودين فقط للغرض المذكور في التقرير ولا
                    يتحمل
                    المقيم مسؤولية استخدامه من أطراف ثالثه, ولا يحق نشر التقرير أو أي جزء منه سواء في مراسلات أو مطبوعات
                    منشورة دون أخذ موافقة وإذن خطي صريح من المقيم.
                    هذا النموذج قد لا يتناسب مع جميع أغراض التقييم وأنواع العقارات ويجب الانتباه إلى أن هناك طرق التقييم
                    لم
                    يتم إدراجها في هذا النموذج والتي تعتمد على طبيعة العقار والأسلوب المستخدم مثل طريقة القيمة المتبقية
                    وطريقة الأرباح وغيره من الطرق.
                </td>
            </tr>
        </tbody>
    </table>

    <table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
        <thead>
            <tr>
                <th colspan="2" class="titles">إخلاء المسؤولية</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2" class="bordertext">
                    تعد شركة أماكن للتقييم العقاري ممثلة في إدارة التقييم غير مسؤولة عن التحقق من سلامة وثائق الملكية
                    الخاصة
                    بالعقار موضوع التقييم. لا يوجد لدى المقيم أي علاقة مادية أو تداخل مع موضوع التقييم أو الطرف المكلف
                    بالتقييم.
                </td>
            </tr>
        </tbody>
    </table>

    <table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
        <thead>
            <tr>
                <th colspan="2" class="titles">الافتراضات والافتراضات الخاصة (إن وجدت)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2" class="bordertext">
                    يفترض أن العقار محل التقييم صحيح الملكية وخال من أي قيود شخصية أو عينية ولا يوجد عليه أي قرض أو رهن
                    أو
                    حق امتياز أو منازعات.
                </td>
            </tr>
            <tr>
                <td colspan="2" class="bordertext">
                    {{ doc.special_assumptions }}
                </td>
            </tr>
        </tbody>
    </table>


    <div class="row">
        <div class="col-xs-6" style="padding-left:0">
            <table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
                <thead>
                    <tr>
                        <th colspan="2" class="titles">المشاركون في إعداد التقرير</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="subtitle">الاسم</td>
                        <td class="bordertext">
                            {{ frappe.db.get_value("Employee", filters={"personal_email": doc.evaluation},
                            fieldname="employee_name") }}
                        </td>
                    </tr>
                    <tr>
                        <td class="subtitle">المسمى الوظيفي</td>
                        <td class="bordertext">مقيم عقاري</td>
                    </tr>
                    <tr>
                        <td class="subtitle">رقم العضوية</td>
                        <td class="bordertext">
                            {{ frappe.db.get_value("Employee", filters={"personal_email": doc.evaluation},
                            fieldname="membership_no") }}
                        </td>
                    </tr>
                    <tr>
                        <td class="subtitle">التوقيع</td>
                        <td class="bordertext" style="height:70px; width:100px">
                            {% if frappe.db.get_value("Employee", filters={"personal_email": doc.evaluation},
                            fieldname="signiture_attach") %}
                            <img src="http://192.168.1.31/{{ frappe.db.get_value(" Employee", filters={"personal_email":
                                doc.evaluation}, fieldname="signiture_attach" ) }}" style="height:70px; width:100px" />
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-6" style="padding-right: 0">
            <table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
                <thead>
                    <tr>
                        <th colspan="2" class="titles">المشاركون في إعداد التقرير</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="subtitle">الاسم</td>
                        <td class="bordertext">عبد العزيز فهد الصنيتان</td>
                    </tr>
                    <tr>
                        <td class="subtitle">المسمى الوظيفي</td>
                        <td class="bordertext">مراجع</td>
                    </tr>
                    <tr>
                        <td class="subtitle">رقم العضوية</td>
                        <td class="bordertext">1210002602</td>
                    </tr>
                    <tr>
                        <td class="subtitle">التوقيع</td>
                        <td class="bordertext" style="height:70px; width:100px">
                            <img src="http://192.168.1.31//files/123.JPG" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <!-- جدول تقرير الاعتماد -->
    <table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
        <thead>
            <tr>
                <th colspan="4" class="titles">هذا التقرير تمت مراجعته واعتماده من قبل المقيم المعتمد</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="subtitle">الاسم</td>
                <td class="bordertext">خالد عبد الكريم الجاسر</td>

                <td class="subtitle">فرع التقييم</td>
                <td class="bordertext">فرع العقار</td>
            </tr>
            <tr>
                <td class="subtitle">الصفة</td>
                <td class="bordertext">المدير التنفيذي</td>

                <td class="subtitle">تاريخ التقرير</td>
                <td class="bordertext">{{ doc.report_date }}</td>
            </tr>
            <tr>
                <td class="subtitle">رقم العضوية</td>
                <td class="bordertext">1210000040</td>

                <td class="subtitle">فئة العضوية</td>
                <td class="bordertext">زميل</td>
            </tr>
            <tr>
                <td class="subtitle">التوقيع</td>
                <td class="bordertext">
                    <img src="http://192.168.1.31/files/ceo.png" style="height:70px; width:100px" />
                </td>

                <td class="subtitle">الختم</td>
                <td class="bordertext">
                    <img src="http://192.168.1.31/files/stamp_ev.JPG" style="width:100px; height:50px" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
</br>





{% if doc.plannerimage %}
<table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
    <thead>
        <tr>
            <th colspan="10" class="titles">صورة المخطط</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="10" class="bordertext">
                <img src="http://192.168.1.31/{{ doc.plannerimage }}" />
            </td>
        </tr>
    </tbody>
</table>
{% endif %}

<div class="print-format">
    <table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
        <thead>
            <tr>
                <th colspan="10" class="titles">صورة الأقمار الصناعية</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="10" class="bordertext">
                    <img
                        src="http://maps.googleapis.com/maps/api/staticmap?zoom=15&size=850x255&markers=color:red|label:T|{{ doc.latitude }},{{ doc.longitude }}&maptype=hybrid&sensor=true&key=AIzaSyAKEzk2mxw_sA_NvKxplyIZFJpZ7VlZZDU">
                </td>
            </tr>
        </tbody>
    </table>
    <table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
        <thead>
            <tr>
                <th colspan="10" class="titles">صورة الخريطة</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="10" class="bordertext">
                    <img
                        src="http://maps.googleapis.com/maps/api/staticmap?zoom=15&size=850x255&markers=color:red|label:T|{{ doc.latitude }},{{ doc.longitude }}&maptype=roadmap&sensor=true&key=AIzaSyAKEzk2mxw_sA_NvKxplyIZFJpZ7VlZZDU">
                </td>
            </tr>
        </tbody>
    </table>

</div>
</br>

<div class="print-format">
    <table class="borders" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
        <thead>
            <tr>
                <th colspan="10" class="titles">صورة مقربة للموقع</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="10" class="bordertext">
                    <img
                        src="http://maps.googleapis.com/maps/api/staticmap?zoom=19&size=850x245&markers=color:red|label:T|{{ doc.latitude }},{{ doc.longitude }}&maptype=hybrid&sensor=true&key=AIzaSyAKEzk2mxw_sA_NvKxplyIZFJpZ7VlZZDU" />
                </td>
            </tr>
            <tr>
                <td colspan="10" class="bordertext">
                    الإحداثيات
                </td>
            </tr>

            <tr>
                <td colspan="2" class="bordertext">
                    {{ doc.city }} <span>-</span> {{ doc.gada }}
                </td>
                <td colspan="2" class="bordertext">
                    خط العرض Latitude
                </td>
                <td colspan="2" class="bordertext">
                    {{ doc.latitude }}
                </td>
                <td colspan="2" class="bordertext">
                    خط الطول Longitude
                </td>
                <td colspan="2" class="bordertext">
                    {{ doc.longitude }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
</br>


<div class="print-format">


    <table class="tableb" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
        <thead>
            <tr>
                <th colspan="3" class="titles">صور العقار</th>
            </tr>
        </thead>
        <tbody>
            {% set attachments = frappe.get_all("File", filters={"attached_to_name": doc.name}, fields=["file_url"]) %}

            {% for attachment in attachments %}
            {% if loop.index0 % 3 == 0 %}
            <tr>
                {% endif %}

                <td class="" style="text-align: center;">
                    <img class="image" src="{{ attachment.file_url }}"
                        style="width:220px; height:130px; padding:2px; margin: 1px 1px 2px 1px; border:solid 1px grey" />
                </td>

                {% if loop.index0 % 3 == 2 %}
            </tr>
            {% endif %}
            {% endfor %}

            {% if attachments|length % 3 != 0 %}
            </tr> <!-- Close the last row if it doesn't have 3 images -->
            {% endif %}
        </tbody>
    </table>

</div>
</br>






<!-- FOOTER -->
{% if print_settings.repeat_header_footer %}
<div id="footer-html" class="visible-pdf">
    {% if not no_letterhead and footer %}
    <div class="letter-head-footer">
        {{ footer }}
    </div>
    {% endif %}
    <p style="color: red; font-size:6px">
        تنبيه !! "يعبر تقرير التقييم عن وجهة نظر المقيم من منطلق رأيه الشخصي، وقت التقييم ووفقاً لمعايير التقييم
        الدولية
        ودون أدنى مسؤولية على المقيم وعلى شركة أماكن، وذلك في حال إن استخدم التقييم أو جزء منه لغير الغرض الذي من
        أجله
        أعد أو استخدم من قبل شخص غير مخول باستخدامه
    </p>

    <p style="color: black; font-size:6px">
        ©2023 جميع الحقوق الواردة في هذا المستند محفوظة ولا تستخدم الا للغرض الذي عمل لأجله وهو معرفة القيمة وتشكل
        سري،
        وتظل تلك المستندات والمعلومات الواردة فيها سرية ولا يمكن استخدامه او عرضه على أي جهة اخرى دون الحصول على
        تصريح
        كتابي مسبق من شركة أماكن للتقييم العقاري
    </p>
    <p class="text-center small page-number visible-pdf">
        {{ _("Page {0} of {1}").format('<span class="page"></span>', '<span class="topage"></span>') }}
    </p>
</div>
{% endif %}